workflows/00-startup-config-validation.json
{
  "name": "00 — Startup: Config Validation",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 100],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      }
    },
    {
      "id": "startup-trigger",
      "name": "On Workflow Activated",
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [0, 400],
      "parameters": {
        "events": ["workflowActivated"]
      }
    },
    {
      "id": "read-file",
      "name": "Read Roster File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 250],
      "parameters": {
        "jsCode": "const fs = require('fs');\nlet stdout;\ntry {\n  stdout = fs.readFileSync('/config/roster.json', 'utf8');\n} catch (e) {\n  stdout = '{\"__error\":\"file_not_found\"}';\n}\nreturn [{ json: { stdout } }];"
      }
    },
    {
      "id": "parse-validate",
      "name": "Parse & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 250],
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout;\n\nif (!raw || raw.trim() === '') {\n  return [{ json: { valid: false, error: 'roster.json is empty', entries: [], hash: '' } }];\n}\n\nif (raw.trim() === '{\"__error\":\"file_not_found\"}') {\n  return [{ json: { valid: false, error: 'roster.json not found at /config/roster.json', entries: [], hash: '' } }];\n}\n\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (e) {\n  return [{ json: { valid: false, error: 'Invalid JSON: ' + e.message, entries: [], hash: '' } }];\n}\n\nconst errors = [];\n\nif (!data.team_lead || typeof data.team_lead !== 'object') {\n  errors.push('Missing \"team_lead\" object');\n} else {\n  if (!data.team_lead.name) errors.push('team_lead: missing name');\n  if (!data.team_lead.discord_id) errors.push('team_lead: missing discord_id');\n  if (!data.team_lead.clockify_user_id) errors.push('team_lead: missing clockify_user_id');\n}\n\nif (!Array.isArray(data.developers) || data.developers.length === 0) {\n  errors.push('developers: must be a non-empty array (at least 1 required)');\n} else {\n  data.developers.forEach((dev, i) => {\n    if (!dev.name) errors.push('developers[' + i + ']: missing name');\n    if (!dev.discord_id) errors.push('developers[' + i + ']: missing discord_id');\n    if (!dev.clockify_user_id) errors.push('developers[' + i + ']: missing clockify_user_id');\n  });\n}\n\nif (!data.client || typeof data.client !== 'object') {\n  errors.push('Missing \"client\" object');\n} else {\n  if (!data.client.name) errors.push('client: missing name');\n  if (!data.client.discord_id) errors.push('client: missing discord_id');\n  if (!data.client.discord_channel_id) errors.push('client: missing discord_channel_id');\n}\n\nif (errors.length > 0) {\n  return [{ json: { valid: false, error: errors.join(' | '), entries: [], hash: '' } }];\n}\n\nconst crypto = require('crypto');\nconst hash = crypto.createHash('sha256').update(raw).digest('hex');\n\nconst entries = [\n  {\n    discord_id: data.team_lead.discord_id,\n    name: data.team_lead.name,\n    role: 'team_lead',\n    clockify_user_id: data.team_lead.clockify_user_id,\n    discord_channel_id: null\n  },\n  ...data.developers.map(dev => ({\n    discord_id: dev.discord_id,\n    name: dev.name,\n    role: 'developer',\n    clockify_user_id: dev.clockify_user_id,\n    discord_channel_id: null\n  })),\n  {\n    discord_id: data.client.discord_id,\n    name: data.client.name,\n    role: 'client',\n    clockify_user_id: null,\n    discord_channel_id: data.client.discord_channel_id\n  }\n];\n\nreturn [{ json: { valid: true, entries, hash } }];"
      }
    },
    {
      "id": "if-valid",
      "name": "Roster Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [800, 250],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "split-entries",
      "name": "Split Entries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 100],
      "parameters": {
        "jsCode": "const { entries, hash } = $input.first().json;\nreturn entries.map(entry => ({ json: { ...entry, hash } }));"
      }
    },
    {
      "id": "upsert-entry",
      "name": "Upsert Roster Entry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, 100],
      "credentials": { "postgres": { "id": "pipemindPostgres", "name": "Pipemind Postgres" } },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.roster\n  (discord_id, name, role, clockify_user_id, discord_channel_id, source_hash, last_synced_at, active)\nVALUES ($1, $2, $3, $4, $5, $6, now(), true)\nON CONFLICT (discord_id) DO UPDATE SET\n  name               = EXCLUDED.name,\n  role               = EXCLUDED.role,\n  clockify_user_id   = EXCLUDED.clockify_user_id,\n  discord_channel_id = EXCLUDED.discord_channel_id,\n  source_hash        = EXCLUDED.source_hash,\n  last_synced_at     = now(),\n  active             = true,\n  updated_at         = now();",
        "additionalFields": {
          "queryParams": "={{ [\n  $json.discord_id,\n  $json.name,\n  $json.role,\n  $json.clockify_user_id,\n  $json.discord_channel_id,\n  $json.hash\n] }}"
        }
      }
    },
    {
      "id": "deactivate-removed",
      "name": "Deactivate Removed Members",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1580, 100],
      "credentials": { "postgres": { "id": "pipemindPostgres", "name": "Pipemind Postgres" } },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.roster\nSET active = false, updated_at = now()\nWHERE source_hash != $1 AND active = true;",
        "additionalFields": {
          "queryParams": "={{ [ $('Split Entries').item.json.hash ] }}"
        }
      }
    },
    {
      "id": "set-roster-valid",
      "name": "Set roster_valid = true",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1840, 100],
      "credentials": { "postgres": { "id": "pipemindPostgres", "name": "Pipemind Postgres" } },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.system_state (key, value)\nVALUES ('roster_valid', 'true')\nON CONFLICT (key) DO UPDATE SET value = 'true', updated_at = now();"
      }
    },
    {
      "id": "set-roster-invalid",
      "name": "Set roster_valid = false",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1060, 420],
      "credentials": { "postgres": { "id": "pipemindPostgres", "name": "Pipemind Postgres" } },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.system_state (key, value)\nVALUES ('roster_valid', 'false')\nON CONFLICT (key) DO UPDATE SET value = 'false', updated_at = now();"
      }
    },
    {
      "id": "alert-tl",
      "name": "Alert TL — Config Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1320, 420],
      "credentials": { "discordBotApi": { "id": "pipemindDiscord", "name": "Pipemind Discord Bot" } },
      "parameters": {
        "operation": "sendMessage",
        "channelId": "={{ $env.TEAM_LEAD_APPROVAL_CHANNEL_ID }}",
        "content": "={{ '🚨 **Pipemind — Config Error**\\n\\n`roster.json` is missing or invalid. All workflows are paused until this is fixed.\\n\\n**Error:** ' + String($('Parse & Validate').item.json.error ?? '').slice(0, 300) + '\\n\\n**Fix:** Update `/config/roster.json` on the host and wait for the next 5-minute check (or reactivate Workflow 00 manually).' }}"
      }
    }
  ],
  "connections": {
    "Every 5 Minutes":            { "main": [[{ "node": "Read Roster File",           "type": "main", "index": 0 }]] },
    "On Workflow Activated":      { "main": [[{ "node": "Read Roster File",           "type": "main", "index": 0 }]] },
    "Read Roster File":           { "main": [[{ "node": "Parse & Validate",           "type": "main", "index": 0 }]] },
    "Parse & Validate":           { "main": [[{ "node": "Roster Valid?",              "type": "main", "index": 0 }]] },
    "Roster Valid?":              { "main": [
      [{ "node": "Split Entries",               "type": "main", "index": 0 }],
      [{ "node": "Set roster_valid = false",    "type": "main", "index": 0 }]
    ]},
    "Split Entries":              { "main": [[{ "node": "Upsert Roster Entry",        "type": "main", "index": 0 }]] },
    "Upsert Roster Entry":        { "main": [[{ "node": "Deactivate Removed Members", "type": "main", "index": 0 }]] },
    "Deactivate Removed Members": { "main": [[{ "node": "Set roster_valid = true",    "type": "main", "index": 0 }]] },
    "Set roster_valid = false":   { "main": [[{ "node": "Alert TL — Config Error",   "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "pipemind" },
  "tags": [{ "name": "startup" }, { "name": "p0" }]
}
