workflows/01-approval-gate.json
{
  "name": "01 — F-03: Approval Gate (Sub-Workflow)",
  "nodes": [
    {
      "id": "trigger",
      "name": "Approval Gate Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "check-roster-valid",
      "name": "Check roster_valid",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 300],
      "credentials": { "postgres": { "id": "pipemindPostgres", "name": "Pipemind Postgres" } },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM pipemind.system_state WHERE key = 'roster_valid';"
      }
    },
    {
      "id": "if-roster-valid",
      "name": "Roster Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.value }}",
              "rightValue": "true",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "insert-draft",
      "name": "Insert Draft",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [750, 200],
      "credentials": { "postgres": { "id": "pipemindPostgres", "name": "Pipemind Postgres" } },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.approval_drafts\n  (feature_tag, content_type, draft_text, boundary_audit_passed,\n   approver_discord_id, discord_channel_id, context_json)\nVALUES\n  ($1, $2, $3, $4, $5, $6, $7::jsonb)\nRETURNING draft_id, expires_at;",
        "additionalFields": {
          "queryParams": "={{ [\n  $('Approval Gate Input').item.json.feature_tag,\n  $('Approval Gate Input').item.json.content_type,\n  $('Approval Gate Input').item.json.draft_text,\n  $('Approval Gate Input').item.json.boundary_audit_passed ?? false,\n  $('Approval Gate Input').item.json.approver_discord_id,\n  $('Approval Gate Input').item.json.approval_channel_id,\n  JSON.stringify($('Approval Gate Input').item.json.context_json ?? {})\n] }}"
        }
      }
    },
    {
      "id": "if-audit-passed",
      "name": "Boundary Audit Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1000, 200],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Approval Gate Input').item.json.boundary_audit_passed }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "build-discord-message",
      "name": "Build Discord Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 100],
      "parameters": {
        "jsCode": "const input = $('Approval Gate Input').item.json;\nconst draft = $('Insert Draft').item.json;\nconst clientFacing = ['report', 'qa_reply', 'welcome'];\n\n// HIGH-02: force the approval channel to the env-configured TL channel for client-facing types\nconst channelId = clientFacing.includes(input.content_type)\n  ? $env.TEAM_LEAD_APPROVAL_CHANNEL_ID\n  : input.approval_channel_id;\n\n// CRIT-03 + MED-01: sanitize draft_text — strip backticks and limit to 1700 chars\nconst safeText = String(input.draft_text ?? '')\n  .replace(/`/g, \"'\")\n  .slice(0, 1700)\n  + (input.draft_text?.length > 1700 ? '\\n[truncated — full text stored in DB]' : '');\n\nconst message = [\n  '📋 **Draft ready for review** — `' + input.content_type + '` (' + input.feature_tag + ')',\n  '',\n  '---',\n  safeText,\n  '---',\n  '',\n  'React ✅ to **approve** · ✏️ to **edit** · ❌ to **reject**',\n  '`Draft ID: ' + draft.draft_id + '`',\n  '⏰ Expires: ' + draft.expires_at\n].join('\\n');\n\nreturn [{ json: { channelId, message } }];"
      }
    },
    {
      "id": "post-approval-prompt",
      "name": "Post Approval Prompt",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1500, 100],
      "credentials": { "discordBotApi": { "id": "pipemindDiscord", "name": "Pipemind Discord Bot" } },
      "parameters": {
        "operation": "sendMessage",
        "channelId": "={{ $json.channelId }}",
        "content": "={{ $json.message }}"
      }
    },
    {
      "id": "save-message-id",
      "name": "Save Discord Message ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1750, 100],
      "credentials": { "postgres": { "id": "pipemindPostgres", "name": "Pipemind Postgres" } },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.approval_drafts\nSET discord_message_id = $1\nWHERE draft_id = $2::uuid;",
        "additionalFields": {
          "queryParams": "={{ [ $('Post Approval Prompt').item.json.id, $('Insert Draft').item.json.draft_id ] }}"
        }
      }
    },
    {
      "id": "return-result",
      "name": "Return Draft Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 100],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "draft_id",          "value": "={{ $('Insert Draft').item.json.draft_id }}" },
            { "name": "discord_message_id","value": "={{ $('Post Approval Prompt').item.json.id }}" },
            { "name": "expires_at",        "value": "={{ $('Insert Draft').item.json.expires_at }}" }
          ]
        }
      }
    },
    {
      "id": "error-audit-failed",
      "name": "Error — Audit Not Passed",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1250, 350],
      "parameters": {
        "errorMessage": "Approval gate blocked: boundary_audit_passed is false. The F-08 audit node must validate the draft before it can be sent for approval."
      }
    },
    {
      "id": "error-roster-invalid",
      "name": "Error — Roster Invalid",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [750, 450],
      "parameters": {
        "errorMessage": "Approval gate aborted: roster_valid is false. Fix /config/roster.json and wait for Workflow 00 to re-validate."
      }
    }
  ],
  "connections": {
    "Approval Gate Input":    { "main": [[{ "node": "Check roster_valid",      "type": "main", "index": 0 }]] },
    "Check roster_valid":     { "main": [[{ "node": "Roster Valid?",            "type": "main", "index": 0 }]] },
    "Roster Valid?":          { "main": [
      [{ "node": "Insert Draft",            "type": "main", "index": 0 }],
      [{ "node": "Error — Roster Invalid",  "type": "main", "index": 0 }]
    ]},
    "Insert Draft":           { "main": [[{ "node": "Boundary Audit Passed?",  "type": "main", "index": 0 }]] },
    "Boundary Audit Passed?": { "main": [
      [{ "node": "Build Discord Message",   "type": "main", "index": 0 }],
      [{ "node": "Error — Audit Not Passed","type": "main", "index": 0 }]
    ]},
    "Build Discord Message":  { "main": [[{ "node": "Post Approval Prompt",    "type": "main", "index": 0 }]] },
    "Post Approval Prompt":   { "main": [[{ "node": "Save Discord Message ID", "type": "main", "index": 0 }]] },
    "Save Discord Message ID":{ "main": [[{ "node": "Return Draft Info",        "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "pipemind" },
  "tags": [{ "name": "approval-gate" }, { "name": "sub-workflow" }, { "name": "p0" }]
}
