workflows/01b-approval-resolution.json
{
  "name": "01b — F-03: Approval Resolution Listener",
  "nodes": [
    {
      "id": "discord-trigger",
      "name": "Discord Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "approval-resolution",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567805"
    },
    {
      "id": "classify-event",
      "name": "Classify Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst event = raw.body ?? raw;\nconst d = event.d ?? event;\n\n// Reaction event\nif (event.t === 'MESSAGE_REACTION_ADD') {\n  const emoji = d.emoji?.name;\n  const actionMap = { '✅': 'approve', '✏️': 'edit', '❌': 'reject' };\n  const action = actionMap[emoji];\n  if (!action) return [{ json: { skip: true } }];\n  return [{ json: {\n    skip: false,\n    eventType: 'reaction',\n    action,\n    message_id: d.message_id,\n    actor_discord_id: d.user_id,\n    channel_id: d.channel_id\n  }}];\n}\n\n// Text message event\nif (event.t === 'MESSAGE_CREATE' || event.type === 0) {\n  const referenced_id = d.referenced_message?.id ?? null;\n  const content = (d.content ?? '').trim();\n  const discord_id = d.author?.id;\n  const channel_id = d.channel_id;\n\n  // Thread-reply (edit flow) — must check before F-06 command detection\n  if (referenced_id) {\n    return [{ json: {\n      skip: false,\n      eventType: 'message',\n      action: 'edit_reply',\n      message_id: referenced_id,\n      reply_id: d.id,\n      actor_discord_id: discord_id,\n      channel_id,\n      content\n    }}];\n  }\n\n  // F-06 fixed command detection — plain DM with no referenced message\n  const FIXED_COMMANDS = ['yes', 'no', 'colleague', 'meeting', 'just-talk'];\n  const lower = content.toLowerCase();\n\n  if (lower === 'yes') {\n    return [{ json: {\n      skip: false,\n      eventType: 'f06_command',\n      action: 'unblock_yes',\n      raw_action: 'unblock_yes',\n      discord_id,\n      channel_id,\n      content\n    }}];\n  }\n\n  if (lower === 'no') {\n    return [{ json: {\n      skip: false,\n      eventType: 'f06_command',\n      action: 'unblock_no',\n      raw_action: 'unblock_no',\n      discord_id,\n      channel_id,\n      content\n    }}];\n  }\n\n  if (lower === 'colleague') {\n    return [{ json: {\n      skip: false,\n      eventType: 'f06_command',\n      action: 'unblock_colleague',\n      raw_action: 'unblock_colleague',\n      discord_id,\n      channel_id,\n      content\n    }}];\n  }\n\n  if (lower === 'meeting') {\n    return [{ json: {\n      skip: false,\n      eventType: 'f06_command',\n      action: 'unblock_meeting',\n      raw_action: 'unblock_meeting',\n      discord_id,\n      channel_id,\n      content\n    }}];\n  }\n\n  if (lower === 'just-talk') {\n    return [{ json: {\n      skip: false,\n      eventType: 'f06_command',\n      action: 'unblock_just_talk',\n      raw_action: 'unblock_just_talk',\n      discord_id,\n      channel_id,\n      content\n    }}];\n  }\n\n  if (lower === 'cancel') {\n    return [{ json: { skip: true } }];\n  }\n\n  // Non-command plain text — may be a free-text reply for colleague_pending / meeting_pending\n  if (content.length > 0) {\n    return [{ json: {\n      skip: false,\n      eventType: 'f06_free_text',\n      action: 'unblock_free_text',\n      raw_action: 'unblock_free_text',\n      discord_id,\n      channel_id,\n      content\n    }}];\n  }\n}\n\nreturn [{ json: { skip: true } }];"
      }
    },
    {
      "id": "if-skip",
      "name": "Skip?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif ((j.skip) === true) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "lookup-draft",
      "name": "Lookup Draft",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT draft_id, status, expires_at, approver_discord_id,\n       feature_tag, content_type, discord_channel_id, context_json\nFROM pipemind.approval_drafts\nWHERE discord_message_id = $1\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('Classify Event').first().json.message_id ] }}"
        }
      }
    },
    {
      "id": "if-valid-draft",
      "name": "Pending & Right Actor?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        150
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst validActor = j.status === 'pending' && j.approver_discord_id === $('Classify Event').first().json.actor_discord_id;\nif (!validActor) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-invalid-draft",
      "name": "Not Pending Or Wrong Actor?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        350
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst validActor = j.status === 'pending' && j.approver_discord_id === $('Classify Event').first().json.actor_discord_id;\nif (validActor) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "notify-expired",
      "name": "Notify Expired",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$('Lookup Draft').first().json.discord_channel_id}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: \"\\u23f0 This draft has expired. Re-trigger the workflow to create a new one.\" }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "route-action",
      "name": "Route Action: Approve?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        50
      ],
      "parameters": {
        "jsCode": "if ($('Classify Event').first().json.action !== 'approve') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "route-action-reject",
      "name": "Route Action: Reject?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        250
      ],
      "parameters": {
        "jsCode": "if ($('Classify Event').first().json.action !== 'reject') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "route-action-edit",
      "name": "Route Action: Edit?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        450
      ],
      "parameters": {
        "jsCode": "if ($('Classify Event').first().json.action !== 'edit') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "route-action-edit-reply",
      "name": "Route Action: Edit Reply?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        650
      ],
      "parameters": {
        "jsCode": "if ($('Classify Event').first().json.action !== 'edit_reply') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "mark-approved",
      "name": "Mark Approved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        50
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.approval_drafts\nSET status = 'approved', settled_at = now()\nWHERE draft_id = $1::uuid AND status = 'pending' AND expires_at > now()\nRETURNING draft_id;",
        "options": {
          "queryReplacement": "={{ [ $('Lookup Draft').first().json.draft_id ] }}"
        }
      }
    },
    {
      "id": "if-got-lock",
      "name": "Got Approval Lock?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        0
      ],
      "parameters": {
        "jsCode": "if (!($input.all().length > 0)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-no-lock",
      "name": "Lock Not Acquired?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        150
      ],
      "parameters": {
        "jsCode": "if ($input.all().length > 0) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "call-delivery",
      "name": "Call Delivery Executor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2500,
        50
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "={{ $env.DELIVERY_EXECUTOR_WORKFLOW_ID }}",
          "mode": "id"
        },
        "mode": "each",
        "workflowInputs": {
          "values": [
            {
              "name": "draft_id",
              "value": "={{ $json.draft_id }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "mark-rejected",
      "name": "Mark Rejected",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        250
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.approval_drafts\nSET status = 'rejected', settled_at = now()\nWHERE draft_id = $1::uuid AND status = 'pending';",
        "options": {
          "queryReplacement": "={{ [ $('Lookup Draft').first().json.draft_id ] }}"
        }
      }
    },
    {
      "id": "notify-rejected",
      "name": "Notify Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2250,
        250
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$('Lookup Draft').first().json.discord_channel_id}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: \"\\u274c Draft rejected. Nothing was sent.\" }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "prompt-edit",
      "name": "Prompt for Edit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        450
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$('Lookup Draft').first().json.discord_channel_id}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: String('✏️ **Edit mode** — reply to this message with your edited version.\\nYour reply replaces the draft. React ✅ on the reply to confirm.\\n`Draft ID: ' + $('Lookup Draft').first().json.draft_id + '`').slice(0,2000) }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "sanitize-edit",
      "name": "Sanitize Edit Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        650
      ],
      "parameters": {
        "jsCode": "const evt = $('Classify Event').first().json;\nconst draft = $('Lookup Draft').first().json;\n\n// Block edit path for colleague_dm — approver is requester, edit would allow social-engineering text\nif (draft.content_type === 'colleague_dm') {\n  return [{ json: { skip: true } }];\n}\n\n// HIGH-01: verify the edit reply author is the approver\nif (evt.actor_discord_id !== draft.approver_discord_id) {\n  return [{ json: { skip: true } }];\n}\n\n// MED-03: sanitize content — strip n8n expression syntax, limit length\nconst safe = String(evt.content ?? '')\n  .replace(/\\{\\{/g, '{ {')\n  .replace(/\\$\\{/g, '$ {')\n  .slice(0, 2000);\n\nreturn [{ json: { skip: false, safe_content: safe, message_id: evt.message_id, reply_message_id: evt.reply_id, draft_id: draft.draft_id } }];"
      }
    },
    {
      "id": "if-edit-author-valid",
      "name": "Edit Author Valid?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        650
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif (!((j.skip) === false)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "save-edit",
      "name": "Save Edited Text",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2500,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.approval_drafts\nSET edited_text = $1,\n    discord_message_id = $2\nWHERE draft_id = $3::uuid;",
        "options": {
          "queryReplacement": "={{ [\n  $json.safe_content,\n  $json.reply_message_id,\n  $json.draft_id\n] }}"
        }
      }
    },
    {
      "id": "no-op-skip",
      "name": "Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "parameters": {}
    },
    {
      "id": "verify-f06-sender",
      "name": "Verify F-06 Sender",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT discord_id FROM pipemind.roster WHERE discord_id = $1 AND active = TRUE AND role = 'developer' LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('Classify Event').first().json.discord_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "if-f06-sender-valid",
      "name": "If F-06 Sender Valid?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        875,
        600
      ],
      "parameters": {
        "jsCode": "if ($input.all().length > 0) return $('Classify Event').all();\nreturn [];"
      }
    },
    {
      "id": "f06-route-switch",
      "name": "F-06 Route: Yes?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ],
      "parameters": {
        "jsCode": "if ($('Classify Event').first().json.raw_action !== 'unblock_yes') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "f06-route-no",
      "name": "F-06 Route: No?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        550
      ],
      "parameters": {
        "jsCode": "if ($('Classify Event').first().json.raw_action !== 'unblock_no') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "f06-route-colleague",
      "name": "F-06 Route: Colleague?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        700
      ],
      "parameters": {
        "jsCode": "if ($('Classify Event').first().json.raw_action !== 'unblock_colleague') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "f06-route-meeting",
      "name": "F-06 Route: Meeting?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        850
      ],
      "parameters": {
        "jsCode": "if ($('Classify Event').first().json.raw_action !== 'unblock_meeting') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "f06-route-just-talk",
      "name": "F-06 Route: Just Talk?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1000
      ],
      "parameters": {
        "jsCode": "if ($('Classify Event').first().json.raw_action !== 'unblock_just_talk') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "f06-route-free-text",
      "name": "F-06 Route: Free Text?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        1150
      ],
      "parameters": {
        "jsCode": "if ($('Classify Event').first().json.raw_action !== 'unblock_free_text') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "lookup-offer-yes",
      "name": "Lookup Unblock Offer (yes)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT offer_id, dm_channel_id, feature_area, status\nFROM pipemind.unblock_offers\nWHERE discord_id = $1\n  AND status = 'pending'\n  AND offer_date = CURRENT_DATE\nORDER BY created_at DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ [ $('Classify Event').first().json.discord_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "if-active-offer-yes",
      "name": "If Active Offer (yes)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        380
      ],
      "parameters": {
        "jsCode": "if (!($input.all().length > 0)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-no-active-offer-yes",
      "name": "No Active Offer (yes)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        480
      ],
      "parameters": {
        "jsCode": "if ($input.all().length > 0) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "mark-offer-accepted",
      "name": "Mark Offer Accepted",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1750,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers\nSET status = 'accepted', responded_at = now()\nWHERE offer_id = $1 AND status = 'pending'",
        "options": {
          "queryReplacement": "={{ [ $json.offer_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "send-help-menu-dm",
      "name": "Send Help Menu DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        350
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $('Classify Event').first().json.channel_id }}/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "[Pipemind] Great — how would you like to proceed?\n\nReply with one of:\n• colleague — loop in a teammate who might be able to help\n• meeting — schedule a short focus or pairing session\n• just-talk — I will note that you accepted help; no further action needed"
        },
        "specifyBody": "json"
      }
    },
    {
      "id": "mark-help-menu-sent",
      "name": "Mark Help Menu Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2250,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers\nSET status = 'help_menu_sent', updated_at = now()\nWHERE offer_id = $1 AND status = 'accepted'",
        "options": {
          "queryReplacement": "={{ [ $('Lookup Unblock Offer (yes)').first().json.offer_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "lookup-offer-no",
      "name": "Lookup Unblock Offer (no)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        550
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT offer_id, dm_channel_id, feature_area, status\nFROM pipemind.unblock_offers\nWHERE discord_id = $1\n  AND status = 'pending'\n  AND offer_date = CURRENT_DATE\nORDER BY created_at DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ [ $('Classify Event').first().json.discord_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "if-active-offer-no",
      "name": "If Active Offer (no)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        530
      ],
      "parameters": {
        "jsCode": "if (!($input.all().length > 0)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-no-active-offer-no",
      "name": "No Active Offer (no)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        630
      ],
      "parameters": {
        "jsCode": "if ($input.all().length > 0) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "mark-offer-declined",
      "name": "Mark Offer Declined",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1750,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers\nSET status = 'declined', responded_at = now()\nWHERE offer_id = $1 AND status = 'pending'",
        "options": {
          "queryReplacement": "={{ [ $json.offer_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "lookup-offer-colleague",
      "name": "Lookup Offer for Colleague",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT offer_id, dm_channel_id, feature_area\nFROM pipemind.unblock_offers\nWHERE discord_id = $1\n  AND status = 'help_menu_sent'\n  AND offer_date = CURRENT_DATE\nORDER BY created_at DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ [ $('Classify Event').first().json.discord_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "if-active-offer-colleague",
      "name": "If Active Offer (colleague)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        680
      ],
      "parameters": {
        "jsCode": "if (!($input.all().length > 0)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-no-active-offer-colleague",
      "name": "No Active Offer (colleague)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        780
      ],
      "parameters": {
        "jsCode": "if ($input.all().length > 0) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "send-colleague-prompt-dm",
      "name": "Send Colleague Prompt DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        650
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $('Classify Event').first().json.channel_id }}/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "[Pipemind] Who would you like to loop in? Reply with their name or describe who is working on the area you need help with. Reply cancel to stop."
        },
        "specifyBody": "json"
      }
    },
    {
      "id": "mark-colleague-pending",
      "name": "Mark Colleague Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        650
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers\nSET status = 'colleague_pending', updated_at = now()\nWHERE offer_id = $1 AND status = 'help_menu_sent'",
        "options": {
          "queryReplacement": "={{ [ $('Lookup Offer for Colleague').first().json.offer_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "lookup-offer-meeting",
      "name": "Lookup Offer for Meeting",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        850
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT offer_id, dm_channel_id, feature_area\nFROM pipemind.unblock_offers\nWHERE discord_id = $1\n  AND status = 'help_menu_sent'\n  AND offer_date = CURRENT_DATE\nORDER BY created_at DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ [ $('Classify Event').first().json.discord_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "if-active-offer-meeting",
      "name": "If Active Offer (meeting)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        830
      ],
      "parameters": {
        "jsCode": "if (!($input.all().length > 0)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-no-active-offer-meeting",
      "name": "No Active Offer (meeting)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        930
      ],
      "parameters": {
        "jsCode": "if ($input.all().length > 0) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "send-meeting-prompt-dm",
      "name": "Send Meeting Prompt DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        800
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $('Classify Event').first().json.channel_id }}/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "[Pipemind] What time would you like to block? Reply with a time range, e.g. \"14:00-15:00 today\" or \"09:00-09:30 tomorrow\". Reply cancel to stop."
        },
        "specifyBody": "json"
      }
    },
    {
      "id": "mark-meeting-pending",
      "name": "Mark Meeting Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers\nSET status = 'meeting_pending', updated_at = now()\nWHERE offer_id = $1 AND status = 'help_menu_sent'",
        "options": {
          "queryReplacement": "={{ [ $('Lookup Offer for Meeting').first().json.offer_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "lookup-offer-just-talk",
      "name": "Lookup Offer for Just Talk",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT offer_id, dm_channel_id, feature_area\nFROM pipemind.unblock_offers\nWHERE discord_id = $1\n  AND status = 'help_menu_sent'\n  AND offer_date = CURRENT_DATE\nORDER BY created_at DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ [ $('Classify Event').first().json.discord_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "if-active-offer-just-talk",
      "name": "If Active Offer (just-talk)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        980
      ],
      "parameters": {
        "jsCode": "if (!($input.all().length > 0)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-no-active-offer-just-talk",
      "name": "No Active Offer (just-talk)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        1080
      ],
      "parameters": {
        "jsCode": "if ($input.all().length > 0) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "mark-just-talk",
      "name": "Mark Just Talk",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1750,
        950
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers\nSET status = 'just_talk', responded_at = now()\nWHERE offer_id = $1 AND status = 'help_menu_sent'",
        "options": {
          "queryReplacement": "={{ [ $json.offer_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "send-just-talk-confirmation-dm",
      "name": "Send Just Talk Confirmation DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        950
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $('Classify Event').first().json.channel_id }}/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "[Pipemind] Noted. Reach out any time if you need anything."
        },
        "specifyBody": "json"
      }
    },
    {
      "id": "lookup-offer-free-text",
      "name": "Lookup Offer for Free Text",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        1150
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT uo.offer_id, uo.dm_channel_id, uo.feature_area, uo.status, r.calendar_email AS requester_calendar_email\nFROM pipemind.unblock_offers uo\nJOIN pipemind.roster r ON r.discord_id = uo.discord_id\nWHERE uo.discord_id = $1\n  AND uo.status IN ('colleague_pending', 'meeting_pending')\n  AND uo.offer_date = CURRENT_DATE\nORDER BY uo.created_at DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ [ $('Classify Event').first().json.discord_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "if-active-offer-free-text",
      "name": "If Active Offer (free-text)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        1130
      ],
      "parameters": {
        "jsCode": "if (!($input.all().length > 0)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-no-active-offer-free-text",
      "name": "No Active Offer (free-text)?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        1230
      ],
      "parameters": {
        "jsCode": "if ($input.all().length > 0) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "branch-colleague-or-meeting",
      "name": "Colleague Pending?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        1080
      ],
      "parameters": {
        "jsCode": "if ($input.first().json.status !== 'colleague_pending') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "branch-meeting-pending",
      "name": "Meeting Pending?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        1200
      ],
      "parameters": {
        "jsCode": "if ($input.first().json.status !== 'meeting_pending') return [];\nreturn $input.all();"
      }
    },
    {
      "id": "resolve-colleague-from-roster",
      "name": "Resolve Colleague from Roster",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT discord_id AS colleague_discord_id, name, calendar_email AS colleague_calendar_email, clockify_user_id AS colleague_clockify_user_id\nFROM pipemind.roster\nWHERE active = TRUE AND role = 'developer'\n  AND LOWER(name) = LOWER($1)\n  AND discord_id != $2\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ [ $('Classify Event').first().json.content, $('Classify Event').first().json.discord_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "if-colleague-found",
      "name": "If Colleague Found?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        950
      ],
      "parameters": {
        "jsCode": "if (!($input.all().length > 0)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-colleague-not-found",
      "name": "Colleague Not Found?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        1050
      ],
      "parameters": {
        "jsCode": "if ($input.all().length > 0) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "send-colleague-not-found-dm",
      "name": "Send Colleague Not Found DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        1100
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $('Classify Event').first().json.channel_id }}/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "[Pipemind] I could not find a teammate by that name. Try again or reply cancel."
        },
        "specifyBody": "json"
      }
    },
    {
      "id": "check-colleague-scheduled",
      "name": "Check Colleague Scheduled",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        900
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "=https://api.clockify.me/api/v1/workspaces/{{ $env.CLOCKIFY_WORKSPACE_ID }}/time-off/requests",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $env.CLOCKIFY_API_KEY }}"
            }
          ]
        },
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.colleague_clockify_user_id }}"
            },
            {
              "name": "start",
              "value": "={{ new Date().toISOString().split('T')[0] + 'T00:00:00Z' }}"
            },
            {
              "name": "end",
              "value": "={{ new Date().toISOString().split('T')[0] + 'T23:59:59Z' }}"
            },
            {
              "name": "status",
              "value": "APPROVED"
            }
          ]
        }
      }
    },
    {
      "id": "send-colleague-unavailable-dm",
      "name": "Send Colleague Unavailable DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        1000
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $('Classify Event').first().json.channel_id }}/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "[Pipemind] That teammate does not appear to be available today. I cannot reach out to them right now."
        },
        "specifyBody": "json"
      }
    },
    {
      "id": "mark-colleague-unavailable",
      "name": "Mark Colleague Unavailable",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3250,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers\nSET status = 'colleague_unavailable', updated_at = now()\nWHERE offer_id = $1",
        "options": {
          "queryReplacement": "={{ [ $('Lookup Offer for Free Text').first().json.offer_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "create-colleague-draft",
      "name": "Create Colleague Draft",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3000,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.approval_drafts\n  (approver_discord_id, discord_channel_id, feature_tag, content_type, draft_text, context_json, expires_at, boundary_audit_passed)\nVALUES\n  ($1, $2, 'F-06', 'colleague_dm',\n   '[Pipemind] A teammate could use a hand with ' || $3 || '. Are you available to connect with them today?',\n   jsonb_build_object('colleague_discord_id', $4, 'feature_area', $3, 'offer_id', $5::text),\n   now() + INTERVAL '48 hours',\n   TRUE)\nRETURNING draft_id;",
        "options": {
          "queryReplacement": "={{ [\n  $('Classify Event').first().json.discord_id,\n  $('Classify Event').first().json.channel_id,\n  $('Lookup Offer for Free Text').first().json.feature_area,\n  $('Resolve Colleague from Roster').first().json.colleague_discord_id,\n  $('Lookup Offer for Free Text').first().json.offer_id\n] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "send-colleague-draft-dm",
      "name": "Send Colleague Draft DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3250,
        800
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $('Classify Event').first().json.channel_id }}/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "={{ '[Pipemind] Draft: A teammate could use a hand with ' + $('Lookup Offer for Free Text').first().json.feature_area + '. Are you available to connect with them today?\\n\\nReply ✅ to send, ❌ to cancel.' }}"
        },
        "specifyBody": "json"
      }
    },
    {
      "id": "update-offer-colleague-draft-pending",
      "name": "Update Offer Status = colleague_draft_pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3500,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers\nSET status = 'colleague_draft_pending', draft_id = $1, updated_at = now()\nWHERE offer_id = $2",
        "options": {
          "queryReplacement": "={{ [ $('Create Colleague Draft').first().json.draft_id, $('Lookup Offer for Free Text').first().json.offer_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "parse-meeting-time",
      "name": "Parse Meeting Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1200
      ],
      "parameters": {
        "jsCode": "const content = $('Classify Event').first().json.content ?? '';\nconst offerRow = $('Lookup Offer for Free Text').first().json;\n\n// Match pattern: HH:MM-HH:MM (today|tomorrow)?\nconst match = content.match(/^(\\d{1,2}):(\\d{2})\\s*[-–]\\s*(\\d{1,2}):(\\d{2})(?:\\s+(today|tomorrow))?/i);\n\nif (!match) {\n  return [{ json: {\n    parse_ok: false,\n    dm_channel_id: offerRow.dm_channel_id,\n    offer_id: offerRow.offer_id\n  }}];\n}\n\nconst [, startH, startM, endH, endM, dayWord] = match;\nconst now = new Date();\nconst base = new Date(now.getFullYear(), now.getMonth(), now.getDate());\n\nif (dayWord && dayWord.toLowerCase() === 'tomorrow') {\n  base.setDate(base.getDate() + 1);\n}\n\nconst start = new Date(base);\nstart.setHours(parseInt(startH, 10), parseInt(startM, 10), 0, 0);\n\nconst end = new Date(base);\nend.setHours(parseInt(endH, 10), parseInt(endM, 10), 0, 0);\n\nif (end <= start) {\n  return [{ json: {\n    parse_ok: false,\n    dm_channel_id: offerRow.dm_channel_id,\n    offer_id: offerRow.offer_id\n  }}];\n}\n\nreturn [{ json: {\n  parse_ok: true,\n  start_iso: start.toISOString(),\n  end_iso: end.toISOString(),\n  start_label: startH.padStart(2,'0') + ':' + startM,\n  end_label: endH.padStart(2,'0') + ':' + endM,\n  dm_channel_id: offerRow.dm_channel_id,\n  offer_id: offerRow.offer_id,\n  feature_area: offerRow.feature_area,\n  requester_calendar_email: offerRow.requester_calendar_email ?? ''\n}}];"
      }
    },
    {
      "id": "send-time-parse-fail-dm",
      "name": "Send Time Parse Fail DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        1300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $('Classify Event').first().json.channel_id }}/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "[Pipemind] I could not parse that time. Please try again, e.g. \"14:00-15:00 today\". Reply cancel to stop."
        },
        "specifyBody": "json"
      }
    },
    {
      "id": "create-meeting-draft",
      "name": "Create Meeting Draft",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2500,
        1100
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.approval_drafts\n  (approver_discord_id, discord_channel_id, feature_tag, content_type, draft_text, context_json, expires_at, boundary_audit_passed)\nVALUES\n  ($1, $2, 'F-06', 'calendar_event',\n   '[Pipemind] Calendar block: Focus session for ' || $3 || ' — ' || $4 || ' to ' || $5 || '.',\n   jsonb_build_object('start_iso', $6, 'end_iso', $7, 'feature_area', $3, 'calendar_email', $8, 'offer_id', $9::text),\n   now() + INTERVAL '48 hours',\n   TRUE)\nRETURNING draft_id;",
        "options": {
          "queryReplacement": "={{ [\n  $('Classify Event').first().json.discord_id,\n  $('Classify Event').first().json.channel_id,\n  $json.feature_area,\n  $json.start_label,\n  $json.end_label,\n  $json.start_iso,\n  $json.end_iso,\n  $json.requester_calendar_email,\n  $json.offer_id\n] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "send-meeting-draft-dm",
      "name": "Send Meeting Draft DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2750,
        1100
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $('Classify Event').first().json.channel_id }}/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "={{ '[Pipemind] Calendar block: Focus session for ' + $('Parse Meeting Time').first().json.feature_area + ' — ' + $('Parse Meeting Time').first().json.start_label + ' to ' + $('Parse Meeting Time').first().json.end_label + '.\\n\\nReply ✅ to create the calendar block, ❌ to cancel.' }}"
        },
        "specifyBody": "json"
      }
    },
    {
      "id": "update-offer-meeting-draft-pending",
      "name": "Update Offer Status = meeting_draft_pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3000,
        1100
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers\nSET status = 'meeting_draft_pending', draft_id = $1, updated_at = now()\nWHERE offer_id = $2",
        "options": {
          "queryReplacement": "={{ [ $('Create Meeting Draft').first().json.draft_id, $('Parse Meeting Time').first().json.offer_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "route-f06-true",
      "name": "Route F-06? (yes)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        400
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif (!((['f06_command','f06_free_text'].includes(j.eventType)) === true)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "route-f06-false",
      "name": "Route F-06? (no)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        550
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif ((['f06_command','f06_free_text'].includes(j.eventType)) === true) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-expired-true",
      "name": "Expired? (yes)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        100
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif (!((new Date(j.expires_at) < new Date()) === true)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-expired-false",
      "name": "Expired? (no)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        250
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif ((new Date(j.expires_at) < new Date()) === true) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-colleague-scheduled-true",
      "name": "Colleague Scheduled? (yes)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        900
      ],
      "parameters": {
        "jsCode": "const clockify = $('Check Colleague Scheduled').first().json;\nconst clockifyOk = clockify.statusCode === 200;\nconst clockifyBusy = clockifyOk && (clockify.body?.length ?? 0) > 0;\n\nconst calRaw = $input.first().json;\nlet calOk = false, calBusy = false;\ntry {\n  if (calRaw && typeof calRaw.calendars === 'object') {\n    calOk = true;\n    for (const data of Object.values(calRaw.calendars)) {\n      if (Array.isArray(data.busy) && data.busy.some(p => (new Date(p.end) - new Date(p.start)) / 3_600_000 >= 6)) {\n        calBusy = true;\n      }\n    }\n  }\n} catch (_) {}\n\n// SC-06a: stricter source wins. SC-18-style failsafe: both sources down -> treat as unavailable.\nconst available = (clockifyOk || calOk) && !clockifyBusy && !calBusy;\n\nif (!available) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-colleague-scheduled-false",
      "name": "Colleague Scheduled? (no)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        1050
      ],
      "parameters": {
        "jsCode": "const clockify = $('Check Colleague Scheduled').first().json;\nconst clockifyOk = clockify.statusCode === 200;\nconst clockifyBusy = clockifyOk && (clockify.body?.length ?? 0) > 0;\n\nconst calRaw = $input.first().json;\nlet calOk = false, calBusy = false;\ntry {\n  if (calRaw && typeof calRaw.calendars === 'object') {\n    calOk = true;\n    for (const data of Object.values(calRaw.calendars)) {\n      if (Array.isArray(data.busy) && data.busy.some(p => (new Date(p.end) - new Date(p.start)) / 3_600_000 >= 6)) {\n        calBusy = true;\n      }\n    }\n  }\n} catch (_) {}\n\n// SC-06a: stricter source wins. SC-18-style failsafe: both sources down -> treat as unavailable.\nconst available = (clockifyOk || calOk) && !clockifyBusy && !calBusy;\n\nif (available) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-time-parsed-true",
      "name": "Time Parsed? (yes)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        1200
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif (!((j.parse_ok) === true)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "if-time-parsed-false",
      "name": "Time Parsed? (no)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        1350
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif ((j.parse_ok) === true) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "check-colleague-calendar-ooo",
      "name": "Check Colleague Calendar OOO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        800
      ],
      "continueOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QLPhcT7Vchnjrqsp",
          "name": "Google Calendar account"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/freeBusy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ timeMin: new Date().toISOString().slice(0, 10) + 'T00:00:00Z', timeMax: new Date().toISOString().slice(0, 10) + 'T23:59:59Z', items: $('Resolve Colleague from Roster').first().json.colleague_calendar_email ? [{ id: $('Resolve Colleague from Roster').first().json.colleague_calendar_email }] : [] }) }}",
        "rawContentType": "application/json",
        "headerParameters": {
          "parameters": []
        }
      }
    },
    {
      "id": "save-colleague-draft-message-id",
      "name": "Save Colleague Draft Message ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3250,
        900
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.approval_drafts\nSET discord_message_id = $1\nWHERE draft_id = $2::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Send Colleague Draft DM').first().json.id, $('Create Colleague Draft').first().json.draft_id ] }}"
        }
      },
      "continueOnFail": false
    },
    {
      "id": "save-meeting-draft-message-id",
      "name": "Save Meeting Draft Message ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2750,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.approval_drafts\nSET discord_message_id = $1\nWHERE draft_id = $2::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Send Meeting Draft DM').first().json.id, $('Create Meeting Draft').first().json.draft_id ] }}"
        }
      },
      "continueOnFail": false
    }
  ],
  "connections": {
    "Discord Events": {
      "main": [
        [
          {
            "node": "Classify Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Event": {
      "main": [
        [
          {
            "node": "Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip?": {
      "main": [
        [
          {
            "node": "Route F-06? (yes)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route F-06? (no)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify F-06 Sender": {
      "main": [
        [
          {
            "node": "If F-06 Sender Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If F-06 Sender Valid?": {
      "main": [
        [
          {
            "node": "F-06 Route: Yes?",
            "type": "main",
            "index": 0
          },
          {
            "node": "F-06 Route: No?",
            "type": "main",
            "index": 0
          },
          {
            "node": "F-06 Route: Colleague?",
            "type": "main",
            "index": 0
          },
          {
            "node": "F-06 Route: Meeting?",
            "type": "main",
            "index": 0
          },
          {
            "node": "F-06 Route: Just Talk?",
            "type": "main",
            "index": 0
          },
          {
            "node": "F-06 Route: Free Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Draft": {
      "main": [
        [
          {
            "node": "Pending & Right Actor?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Not Pending Or Wrong Actor?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending & Right Actor?": {
      "main": [
        [
          {
            "node": "Expired? (yes)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expired? (no)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Pending Or Wrong Actor?": {
      "main": [
        [
          {
            "node": "Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action: Approve?": {
      "main": [
        [
          {
            "node": "Mark Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action: Reject?": {
      "main": [
        [
          {
            "node": "Mark Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action: Edit?": {
      "main": [
        [
          {
            "node": "Prompt for Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action: Edit Reply?": {
      "main": [
        [
          {
            "node": "Sanitize Edit Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Approved": {
      "main": [
        [
          {
            "node": "Got Approval Lock?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lock Not Acquired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Got Approval Lock?": {
      "main": [
        [
          {
            "node": "Call Delivery Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Not Acquired?": {
      "main": [
        [
          {
            "node": "Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Rejected": {
      "main": [
        [
          {
            "node": "Notify Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Edit Content": {
      "main": [
        [
          {
            "node": "Edit Author Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Author Valid?": {
      "main": [
        [
          {
            "node": "Save Edited Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F-06 Route: Yes?": {
      "main": [
        [
          {
            "node": "Lookup Unblock Offer (yes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F-06 Route: No?": {
      "main": [
        [
          {
            "node": "Lookup Unblock Offer (no)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F-06 Route: Colleague?": {
      "main": [
        [
          {
            "node": "Lookup Offer for Colleague",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F-06 Route: Meeting?": {
      "main": [
        [
          {
            "node": "Lookup Offer for Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F-06 Route: Just Talk?": {
      "main": [
        [
          {
            "node": "Lookup Offer for Just Talk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F-06 Route: Free Text?": {
      "main": [
        [
          {
            "node": "Lookup Offer for Free Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Unblock Offer (yes)": {
      "main": [
        [
          {
            "node": "If Active Offer (yes)?",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Active Offer (yes)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Active Offer (yes)?": {
      "main": [
        [
          {
            "node": "Mark Offer Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Active Offer (yes)?": {
      "main": [
        [
          {
            "node": "Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Offer Accepted": {
      "main": [
        [
          {
            "node": "Send Help Menu DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Help Menu DM": {
      "main": [
        [
          {
            "node": "Mark Help Menu Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Unblock Offer (no)": {
      "main": [
        [
          {
            "node": "If Active Offer (no)?",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Active Offer (no)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Active Offer (no)?": {
      "main": [
        [
          {
            "node": "Mark Offer Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Active Offer (no)?": {
      "main": [
        [
          {
            "node": "Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Offer for Colleague": {
      "main": [
        [
          {
            "node": "If Active Offer (colleague)?",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Active Offer (colleague)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Active Offer (colleague)?": {
      "main": [
        [
          {
            "node": "Send Colleague Prompt DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Active Offer (colleague)?": {
      "main": [
        [
          {
            "node": "Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Colleague Prompt DM": {
      "main": [
        [
          {
            "node": "Mark Colleague Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Offer for Meeting": {
      "main": [
        [
          {
            "node": "If Active Offer (meeting)?",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Active Offer (meeting)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Active Offer (meeting)?": {
      "main": [
        [
          {
            "node": "Send Meeting Prompt DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Active Offer (meeting)?": {
      "main": [
        [
          {
            "node": "Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Meeting Prompt DM": {
      "main": [
        [
          {
            "node": "Mark Meeting Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Offer for Just Talk": {
      "main": [
        [
          {
            "node": "If Active Offer (just-talk)?",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Active Offer (just-talk)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Active Offer (just-talk)?": {
      "main": [
        [
          {
            "node": "Mark Just Talk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Active Offer (just-talk)?": {
      "main": [
        [
          {
            "node": "Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Just Talk": {
      "main": [
        [
          {
            "node": "Send Just Talk Confirmation DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Offer for Free Text": {
      "main": [
        [
          {
            "node": "If Active Offer (free-text)?",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Active Offer (free-text)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Active Offer (free-text)?": {
      "main": [
        [
          {
            "node": "Colleague Pending?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Meeting Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Active Offer (free-text)?": {
      "main": [
        [
          {
            "node": "Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colleague Pending?": {
      "main": [
        [
          {
            "node": "Resolve Colleague from Roster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Pending?": {
      "main": [
        [
          {
            "node": "Parse Meeting Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Colleague from Roster": {
      "main": [
        [
          {
            "node": "If Colleague Found?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Colleague Not Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Colleague Found?": {
      "main": [
        [
          {
            "node": "Check Colleague Scheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colleague Not Found?": {
      "main": [
        [
          {
            "node": "Send Colleague Not Found DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Colleague Scheduled": {
      "main": [
        [
          {
            "node": "Check Colleague Calendar OOO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Colleague Unavailable DM": {
      "main": [
        [
          {
            "node": "Mark Colleague Unavailable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Colleague Draft": {
      "main": [
        [
          {
            "node": "Send Colleague Draft DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Colleague Draft DM": {
      "main": [
        [
          {
            "node": "Save Colleague Draft Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Meeting Time": {
      "main": [
        [
          {
            "node": "Time Parsed? (yes)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Time Parsed? (no)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Meeting Draft": {
      "main": [
        [
          {
            "node": "Send Meeting Draft DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Meeting Draft DM": {
      "main": [
        [
          {
            "node": "Save Meeting Draft Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route F-06? (yes)": {
      "main": [
        [
          {
            "node": "Verify F-06 Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route F-06? (no)": {
      "main": [
        [
          {
            "node": "Lookup Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expired? (yes)": {
      "main": [
        [
          {
            "node": "Notify Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expired? (no)": {
      "main": [
        [
          {
            "node": "Route Action: Approve?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Action: Reject?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Action: Edit?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Action: Edit Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colleague Scheduled? (yes)": {
      "main": [
        [
          {
            "node": "Create Colleague Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colleague Scheduled? (no)": {
      "main": [
        [
          {
            "node": "Send Colleague Unavailable DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Parsed? (yes)": {
      "main": [
        [
          {
            "node": "Create Meeting Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Parsed? (no)": {
      "main": [
        [
          {
            "node": "Send Time Parse Fail DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Colleague Calendar OOO": {
      "main": [
        [
          {
            "node": "Colleague Scheduled? (yes)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Colleague Scheduled? (no)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Colleague Draft Message ID": {
      "main": [
        [
          {
            "node": "Update Offer Status = colleague_draft_pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Meeting Draft Message ID": {
      "main": [
        [
          {
            "node": "Update Offer Status = meeting_draft_pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "pipemind"
  },
  "tags": [
    {
      "name": "approval-gate"
    },
    {
      "name": "p0"
    },
    {
      "name": "f06"
    }
  ],
  "id": "8HPsHB02JCa3rrfB"
}