workflows/01c-delivery-executor.json
{
  "name": "01c — F-03: Delivery Executor (Sub-Workflow)",
  "nodes": [
    {
      "id": "trigger",
      "name": "Delivery Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "fetch-draft",
      "name": "Fetch Approved Draft",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT draft_id, content_type,\n       COALESCE(edited_text, draft_text) AS final_text,\n       edited_text,\n       context_json,\n       approver_discord_id,\n       discord_channel_id\nFROM pipemind.approval_drafts\nWHERE draft_id = $1::uuid AND status = 'approved' AND boundary_audit_passed = TRUE;",
        "options": {
          "queryReplacement": "={{ [ $('Delivery Input').item.json.draft_id ] }}"
        }
      }
    },
    {
      "id": "if-draft-found",
      "name": "Draft Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "route-content-type",
      "name": "Route by Content Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        750,
        200
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "report"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "qa_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "qa_reply"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "welcome",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "welcome"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "time_entry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "time_entry"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "colleague_dm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "colleague_dm"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "calendar_event",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "calendar_event"
            }
          ]
        }
      }
    },
    {
      "id": "dedup-drive",
      "name": "Claim Drive",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        50
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.delivered_actions (draft_id, action_type, dedup_key)\nVALUES ($1::uuid, 'drive_save', $2)\nON CONFLICT (dedup_key) DO NOTHING\nRETURNING action_id;",
        "options": {
          "queryReplacement": "={{ [ $('Fetch Approved Draft').item.json.draft_id, 'drive_save:' + $('Fetch Approved Draft').item.json.draft_id ] }}"
        }
      }
    },
    {
      "id": "if-drive-new",
      "name": "Drive Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        50
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "save-drive",
      "name": "Save to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1500,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pipemindGoogleDrive",
          "name": "Pipemind Google Drive"
        }
      },
      "continueOnFail": true,
      "parameters": {
        "operation": "upload",
        "name": "={{ 'progress-report-' + new Date().toISOString().split('T')[0] + '-' + $('Fetch Approved Draft').item.json.draft_id.slice(0,8) + '.txt' }}",
        "driveId": {
          "mode": "id",
          "value": "={{ $env.DRIVE_FOLDER_ID }}"
        },
        "folderId": {
          "mode": "id",
          "value": "={{ $env.DRIVE_FOLDER_ID }}"
        },
        "binaryData": false,
        "textContent": "={{ $('Fetch Approved Draft').item.json.final_text }}"
      }
    },
    {
      "id": "dedup-gmail",
      "name": "Claim Gmail",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.delivered_actions (draft_id, action_type, dedup_key)\nVALUES ($1::uuid, 'gmail_send', $2)\nON CONFLICT (dedup_key) DO NOTHING\nRETURNING action_id;",
        "options": {
          "queryReplacement": "={{ [ $('Fetch Approved Draft').item.json.draft_id, 'gmail_send:' + $('Fetch Approved Draft').item.json.draft_id ] }}"
        }
      }
    },
    {
      "id": "if-gmail-new",
      "name": "Gmail Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2250,
        0
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "send-gmail",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2500,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "pipemindGmail",
          "name": "Pipemind Gmail"
        }
      },
      "continueOnFail": true,
      "parameters": {
        "operation": "send",
        "toList": "={{ $env.CLIENT_EMAIL }}",
        "subject": "={{ 'Project Progress Update — ' + new Date().toISOString().split('T')[0] }}",
        "message": "={{ $('Fetch Approved Draft').item.json.final_text }}",
        "options": {}
      }
    },
    {
      "id": "dedup-discord-qa",
      "name": "Claim QA",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.delivered_actions (draft_id, action_type, dedup_key)\nVALUES ($1::uuid, 'discord_qa', $2)\nON CONFLICT (dedup_key) DO NOTHING\nRETURNING action_id;",
        "options": {
          "queryReplacement": "={{ [ $('Fetch Approved Draft').item.json.draft_id, 'discord_qa:' + $('Fetch Approved Draft').item.json.draft_id ] }}"
        }
      }
    },
    {
      "id": "if-qa-new",
      "name": "QA Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "validate-qa-channel",
      "name": "Validate QA Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        250
      ],
      "parameters": {
        "jsCode": "const draft = $('Fetch Approved Draft').item.json;\nconst stored = String(draft.context_json?.client_channel_id || '');\nconst expected = String($env.CLIENT_CHANNEL_ID || '');\nif (!stored || !expected || stored !== expected) {\n  throw new Error('Delivery aborted: context_json.client_channel_id does not match CLIENT_CHANNEL_ID. Possible channel manipulation.');\n}\nreturn [{ json: draft }];"
      }
    },
    {
      "id": "post-qa",
      "name": "Post QA Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        250
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$env.CLIENT_CHANNEL_ID}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: String($('Fetch Approved Draft').item.json.final_text).slice(0,2000) }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "dedup-welcome",
      "name": "Claim Welcome",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        550
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.delivered_actions (draft_id, action_type, dedup_key)\nVALUES ($1::uuid, 'discord_welcome', $2)\nON CONFLICT (dedup_key) DO NOTHING\nRETURNING action_id;",
        "options": {
          "queryReplacement": "={{ [ $('Fetch Approved Draft').item.json.draft_id, 'discord_welcome:' + $('Fetch Approved Draft').item.json.draft_id ] }}"
        }
      }
    },
    {
      "id": "if-welcome-new",
      "name": "Welcome Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        550
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "validate-welcome-channel",
      "name": "Validate Welcome Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        500
      ],
      "parameters": {
        "jsCode": "const draft = $('Fetch Approved Draft').item.json;\nconst stored = String(draft.context_json?.client_channel_id || '');\nconst expected = String($env.CLIENT_CHANNEL_ID || '');\nif (!stored || !expected || stored !== expected) {\n  throw new Error('Delivery aborted: context_json.client_channel_id does not match CLIENT_CHANNEL_ID. Possible channel manipulation.');\n}\nreturn [{ json: draft }];"
      }
    },
    {
      "id": "post-welcome",
      "name": "Post Welcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        500
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$env.CLIENT_CHANNEL_ID}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: String($('Fetch Approved Draft').item.json.final_text).slice(0,2000) }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "log-client-welcomed",
      "name": "Log Client Welcomed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.client_welcomed (client_discord_id)\nVALUES ($1)\nON CONFLICT (client_discord_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [ $('Fetch Approved Draft').item.json.context_json?.client_discord_id ] }}"
        }
      }
    },
    {
      "id": "dedup-clockify",
      "name": "Claim Clockify",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.delivered_actions (draft_id, action_type, dedup_key)\nVALUES ($1::uuid, 'clockify_write', $2)\nON CONFLICT (dedup_key) DO NOTHING\nRETURNING action_id;",
        "options": {
          "queryReplacement": "={{ [ $('Fetch Approved Draft').item.json.draft_id, 'clockify_write:' + $('Fetch Approved Draft').item.json.draft_id ] }}"
        }
      }
    },
    {
      "id": "if-clockify-new",
      "name": "Clockify Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        800
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "fetch-dev-clockify-id",
      "name": "Fetch Dev Clockify ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT clockify_user_id FROM pipemind.roster WHERE discord_id = $1 AND active = TRUE AND role = 'developer' LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('Fetch Approved Draft').item.json.approver_discord_id ] }}"
        }
      }
    },
    {
      "id": "parse-time-entry",
      "name": "Parse Time Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        800
      ],
      "parameters": {
        "jsCode": "const draft = $('Fetch Approved Draft').item.json;\nconst clockifyUserId = $json.clockify_user_id;\nif (!clockifyUserId) {\n  throw new Error('F-07 delivery aborted: no clockify_user_id in roster for approver_discord_id ' + draft.approver_discord_id);\n}\n\nconst contextJson = typeof draft.context_json === 'object' ? draft.context_json : {};\n\n// CRIT-03: validate draft_hours -- reject 0, negative, non-finite, >16h values\nconst rawDraftHours = Number(contextJson.draft_hours);\nconst draftHours = (isFinite(rawDraftHours) && rawDraftHours > 0 && rawDraftHours <= 16) ? rawDraftHours : 8;\n\n// MED-03: strip non-printable chars and clamp before it reaches Clockify description\nconst featureArea = String(contextJson.feature_area || 'General').replace(/[^\\x20-\\x7E]/g, '').slice(0, 80) || 'General';\n\n// CRIT-02: cap edited hours at 16h (same as draftHours max)\nlet finalHours = draftHours;\nconst editedText = String(draft.edited_text || '').trim();\nconst hourMatch = editedText.match(/^edit\\s+(\\d+(?:\\.\\d+)?)\\s*h(?:ours?)?/i);\nif (hourMatch) {\n  const parsed = parseFloat(hourMatch[1]);\n  if (!isNaN(parsed) && parsed > 0 && parsed <= 16) {\n    finalHours = parsed;\n  }\n}\n\n// Compute start/end based on EOD_TIME env var (e.g., '17:00' or '17:00:00')\nconst eodTime = String($env.EOD_TIME || '17:00');\nconst [eodHour, eodMin] = eodTime.split(':').map(n => parseInt(n, 10));\nconst today = new Date();\nconst endTime  = new Date(Date.UTC(today.getUTCFullYear(), today.getUTCMonth(), today.getUTCDate(), eodHour || 17, eodMin || 0, 0));\nconst startTime = new Date(endTime.getTime() - finalHours * 3_600_000);\n\n// CRIT-02: cross-day guard -- reject entries that would cross midnight\nif (startTime.getUTCDate() !== endTime.getUTCDate()) {\n  throw new Error('F-07 delivery aborted: ' + finalHours + 'h entry would cross midnight (end=' + endTime.toISOString() + '). Reduce hours or check EOD_TIME config.');\n}\n\nreturn [{ json: {\n  draft_id:            draft.draft_id,\n  discord_channel_id:  draft.discord_channel_id,\n  clockify_user_id:    clockifyUserId,\n  feature_area:        featureArea,\n  final_hours:         finalHours,\n  description:         featureArea !== 'General' ? 'Work on the ' + featureArea + ' feature' : 'General development work',\n  start_iso:           startTime.toISOString(),\n  end_iso:             endTime.toISOString()\n} }];"
      }
    },
    {
      "id": "write-clockify-entry",
      "name": "Write Clockify Entry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        800
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://api.clockify.me/api/v1/workspaces/${$env.CLOCKIFY_WORKSPACE_ID}/user/${$json.clockify_user_id}/time-entries` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $env.CLOCKIFY_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ start: $json.start_iso, end: $json.end_iso, description: $json.description }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "if-clockify-write-ok",
      "name": "If Clockify Write OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2250,
        800
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "notify-write-error-dm",
      "name": "Notify Write Error DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        950
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$('Parse Time Entry').item.json.discord_channel_id}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: '[Pipemind] Your time log was approved but Clockify returned an error when we tried to write the entry. Please log your time manually in Clockify for today. The team lead has been notified.' }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "confirm-dev-dm",
      "name": "Confirm Dev DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        800
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$('Parse Time Entry').item.json.discord_channel_id}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: '[Pipemind] Your time entry has been logged in Clockify: ' + $('Parse Time Entry').item.json.final_hours + 'h on ' + $('Parse Time Entry').item.json.feature_area + '. All done for today!' }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "no-op-not-found",
      "name": "Skip — Draft Not Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "parameters": {}
    },
    {
      "id": "dedup-colleague-dm",
      "name": "Claim Colleague DM",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        1050
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.delivered_actions (draft_id, action_type, dedup_key)\nVALUES ($1::uuid, 'discord_colleague_dm', $2)\nON CONFLICT (dedup_key) DO NOTHING\nRETURNING action_id;",
        "options": {
          "queryReplacement": "={{ [ $('Fetch Approved Draft').item.json.draft_id, 'discord_colleague_dm:' + $('Fetch Approved Draft').item.json.draft_id ] }}"
        }
      }
    },
    {
      "id": "if-colleague-dm-new",
      "name": "Colleague DM Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        1050
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "open-dm-to-colleague",
      "name": "Open DM to Colleague",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        1000
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/v10/users/@me/channels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ recipient_id: $('Fetch Approved Draft').item.json.context_json.colleague_discord_id }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "send-colleague-dm-delivery",
      "name": "Send Colleague DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        1000
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$json.id}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: $('Fetch Approved Draft').item.json.final_text }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "if-colleague-dm-ok",
      "name": "If Colleague DM OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        1000
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "notify-colleague-dm-failed",
      "name": "Notify Colleague DM Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2250,
        1100
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$('Fetch Approved Draft').item.json.discord_channel_id}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: '[Pipemind] I was unable to reach your teammate. You may want to contact them directly.' }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "dedup-calendar-event",
      "name": "Claim Calendar Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        1300
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.delivered_actions (draft_id, action_type, dedup_key)\nVALUES ($1::uuid, 'calendar_event_create', $2)\nON CONFLICT (dedup_key) DO NOTHING\nRETURNING action_id;",
        "options": {
          "queryReplacement": "={{ [ $('Fetch Approved Draft').item.json.draft_id, 'calendar_event_create:' + $('Fetch Approved Draft').item.json.draft_id ] }}"
        }
      }
    },
    {
      "id": "if-calendar-new",
      "name": "Calendar Event Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        1300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "parse-calendar-context",
      "name": "Parse Calendar Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        1250
      ],
      "parameters": {
        "jsCode": "const draft = $('Fetch Approved Draft').item.json;\nconst ctx = typeof draft.context_json === 'object' ? draft.context_json : {};\nreturn [{ json: {\n  draft_id:        draft.draft_id,\n  channel_id:      draft.discord_channel_id,\n  start_iso:       ctx.start_iso ?? null,\n  end_iso:         ctx.end_iso ?? null,\n  feature_area:    String(ctx.feature_area ?? 'Focus session').slice(0, 80),\n  calendar_email:  ctx.calendar_email ?? ''\n}}];"
      }
    },
    {
      "id": "if-calendar-email-set",
      "name": "If Calendar Email Set?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1750,
        1250
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.calendar_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "create-calendar-event",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        1200
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "oAuth2",
        "credential": {
          "id": "pipemindGoogleCalendar",
          "name": "Pipemind Google Calendar"
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ summary: 'Focus session — ' + $json.feature_area, start: { dateTime: $json.start_iso }, end: { dateTime: $json.end_iso } }) }}",
        "rawContentType": "application/json",
        "headerParameters": {
          "parameters": []
        }
      }
    },
    {
      "id": "if-calendar-ok",
      "name": "If Calendar OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2250,
        1200
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "confirm-calendar-dm",
      "name": "Confirm Calendar DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2750,
        1150
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$('Parse Calendar Context').item.json.channel_id}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: '[Pipemind] Done — your calendar block has been created for ' + $('Parse Calendar Context').item.json.feature_area + '.' }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "notify-calendar-failed-dm",
      "name": "Notify Calendar Failed DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        1300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$('Parse Calendar Context').item.json.channel_id}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: '[Pipemind] I was unable to create the calendar block. Please create it manually in Google Calendar.' }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "mark-offer-colleague-done",
      "name": "Mark Offer Colleague Done",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2500,
        950
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers SET status = 'colleague_done', updated_at = now()\nWHERE draft_id = $1::uuid AND status = 'colleague_draft_pending';",
        "options": {
          "queryReplacement": "={{ [ $('Fetch Approved Draft').item.json.draft_id ] }}"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "mark-offer-meeting-done",
      "name": "Mark Offer Meeting Done",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2750,
        1150
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers SET status = 'meeting_done', updated_at = now()\nWHERE draft_id = $1::uuid AND status = 'meeting_draft_pending';",
        "options": {
          "queryReplacement": "={{ [ $('Fetch Approved Draft').item.json.draft_id ] }}"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "notify-no-calendar-email-dm",
      "name": "Notify No Calendar Email DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        1400
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$('Parse Calendar Context').item.json.channel_id}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: '[Pipemind] No calendar linked for your account — please create the block manually in Google Calendar.' }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "if-drive-ok",
      "name": "If Drive OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1620,
        0
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "release-drive-claim",
      "name": "Release Drive Claim",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1620,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pipemind.delivered_actions WHERE action_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Claim Drive').item.json.action_id ] }}"
        }
      }
    },
    {
      "id": "notify-drive-failed",
      "name": "Notify Drive Failed DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        150
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$env.TL_CHANNEL_ID}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: \"[Pipemind] The approved report failed to save to Google Drive. Please check the Drive folder and retry manually if needed.\" }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "if-gmail-ok",
      "name": "If Gmail OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2120,
        0
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "release-gmail-claim",
      "name": "Release Gmail Claim",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2120,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pipemind.delivered_actions WHERE action_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Claim Gmail').item.json.action_id ] }}"
        }
      }
    },
    {
      "id": "notify-gmail-failed",
      "name": "Notify Gmail Failed DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2250,
        150
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$env.TL_CHANNEL_ID}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: \"[Pipemind] The approved report failed to send via Gmail. Please check and retry manually if needed.\" }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "if-qa-ok",
      "name": "If QA OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2500,
        550
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "release-qa-claim",
      "name": "Release QA Claim",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2500,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pipemind.delivered_actions WHERE action_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Claim QA').item.json.action_id ] }}"
        }
      }
    },
    {
      "id": "notify-qa-failed",
      "name": "Notify QA Failed DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2650,
        700
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$env.TL_CHANNEL_ID}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: \"[Pipemind] The approved Q&A reply failed to post in the client channel. Please check and resend manually if needed.\" }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "if-welcome-ok",
      "name": "If Welcome OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2500,
        350
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "release-welcome-claim",
      "name": "Release Welcome Claim",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2500,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pipemind.delivered_actions WHERE action_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Claim Welcome').item.json.action_id ] }}"
        }
      }
    },
    {
      "id": "notify-welcome-failed",
      "name": "Notify Welcome Failed DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2650,
        500
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$env.TL_CHANNEL_ID}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: \"[Pipemind] The approved welcome message failed to post in the client channel. Please check and resend manually if needed.\" }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "release-clockify-claim",
      "name": "Release Clockify Claim",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2500,
        950
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pipemind.delivered_actions WHERE action_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Claim Clockify').item.json.action_id ] }}"
        }
      }
    },
    {
      "id": "release-colleague-dm-claim",
      "name": "Release Colleague DM Claim",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2050,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pipemind.delivered_actions WHERE action_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Claim Colleague DM').item.json.action_id ] }}"
        }
      }
    },
    {
      "id": "release-calendar-claim-failed",
      "name": "Release Calendar Claim — Create Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2750,
        750
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pipemind.delivered_actions WHERE action_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Claim Calendar Event').item.json.action_id ] }}"
        }
      }
    },
    {
      "id": "release-calendar-claim-noemail",
      "name": "Release Calendar Claim — No Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2500,
        1100
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pipemind.delivered_actions WHERE action_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Claim Calendar Event').item.json.action_id ] }}"
        }
      }
    }
  ],
  "connections": {
    "Delivery Input": {
      "main": [
        [
          {
            "node": "Fetch Approved Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Approved Draft": {
      "main": [
        [
          {
            "node": "Draft Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Found?": {
      "main": [
        [
          {
            "node": "Route by Content Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip — Draft Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Content Type": {
      "report": [
        [
          {
            "node": "Claim Drive",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "qa_reply": [
        [
          {
            "node": "Claim QA",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "welcome": [
        [
          {
            "node": "Claim Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "time_entry": [
        [
          {
            "node": "Claim Clockify",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "colleague_dm": [
        [
          {
            "node": "Claim Colleague DM",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "calendar_event": [
        [
          {
            "node": "Claim Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Dev Clockify ID": {
      "main": [
        [
          {
            "node": "Parse Time Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Time Entry": {
      "main": [
        [
          {
            "node": "Write Clockify Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Clockify Entry": {
      "main": [
        [
          {
            "node": "If Clockify Write OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Clockify Write OK?": {
      "main": [
        [
          {
            "node": "Confirm Dev DM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Release Clockify Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Drive": {
      "main": [
        [
          {
            "node": "If Drive OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "If Gmail OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate QA Channel": {
      "main": [
        [
          {
            "node": "Post QA Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post QA Reply": {
      "main": [
        [
          {
            "node": "If QA OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Welcome Channel": {
      "main": [
        [
          {
            "node": "Post Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Welcome": {
      "main": [
        [
          {
            "node": "If Welcome OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open DM to Colleague": {
      "main": [
        [
          {
            "node": "Send Colleague DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Colleague DM": {
      "main": [
        [
          {
            "node": "If Colleague DM OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Colleague DM OK?": {
      "main": [
        [
          {
            "node": "Mark Offer Colleague Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Release Colleague DM Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Calendar Context": {
      "main": [
        [
          {
            "node": "If Calendar Email Set?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Calendar Email Set?": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Release Calendar Claim — No Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "If Calendar OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Calendar OK?": {
      "main": [
        [
          {
            "node": "Mark Offer Meeting Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Release Calendar Claim — Create Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Offer Meeting Done": {
      "main": [
        [
          {
            "node": "Confirm Calendar DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Drive": {
      "main": [
        [
          {
            "node": "Drive Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Claimed?": {
      "main": [
        [
          {
            "node": "Save to Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claim Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Drive OK?": {
      "main": [
        [
          {
            "node": "Claim Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Release Drive Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Drive Claim": {
      "main": [
        [
          {
            "node": "Notify Drive Failed DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Drive Failed DM": {
      "main": [
        [
          {
            "node": "Claim Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Gmail": {
      "main": [
        [
          {
            "node": "Gmail Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Claimed?": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Gmail OK?": {
      "main": [
        [],
        [
          {
            "node": "Release Gmail Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Gmail Claim": {
      "main": [
        [
          {
            "node": "Notify Gmail Failed DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Gmail Failed DM": {
      "main": [
        []
      ]
    },
    "Claim QA": {
      "main": [
        [
          {
            "node": "QA Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Claimed?": {
      "main": [
        [
          {
            "node": "Validate QA Channel",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If QA OK?": {
      "main": [
        [],
        [
          {
            "node": "Release QA Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release QA Claim": {
      "main": [
        [
          {
            "node": "Notify QA Failed DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify QA Failed DM": {
      "main": [
        []
      ]
    },
    "Claim Welcome": {
      "main": [
        [
          {
            "node": "Welcome Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Claimed?": {
      "main": [
        [
          {
            "node": "Validate Welcome Channel",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Welcome OK?": {
      "main": [
        [
          {
            "node": "Log Client Welcomed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Release Welcome Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Welcome Claim": {
      "main": [
        [
          {
            "node": "Notify Welcome Failed DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Clockify": {
      "main": [
        [
          {
            "node": "Clockify Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clockify Claimed?": {
      "main": [
        [
          {
            "node": "Fetch Dev Clockify ID",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Release Clockify Claim": {
      "main": [
        [
          {
            "node": "Notify Write Error DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Colleague DM": {
      "main": [
        [
          {
            "node": "Colleague DM Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colleague DM Claimed?": {
      "main": [
        [
          {
            "node": "Open DM to Colleague",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Release Colleague DM Claim": {
      "main": [
        [
          {
            "node": "Notify Colleague DM Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Calendar Event": {
      "main": [
        [
          {
            "node": "Calendar Event Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Event Claimed?": {
      "main": [
        [
          {
            "node": "Parse Calendar Context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Release Calendar Claim — Create Failed": {
      "main": [
        [
          {
            "node": "Notify Calendar Failed DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Calendar Claim — No Email": {
      "main": [
        [
          {
            "node": "Notify No Calendar Email DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "pipemind"
  },
  "tags": [
    {
      "name": "approval-gate"
    },
    {
      "name": "sub-workflow"
    },
    {
      "name": "p0"
    }
  ],
  "id": "oEoiU9lGXlZvsKuU"
}