workflows/03-team-lead-command-listener.json
{
  "name": "03 \u2014 Team Lead Command Listener (F-16)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/1 * * * *"
            }
          ]
        }
      },
      "id": "node-cron-trigger",
      "name": "Cron Trigger \u2014 Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Load roster.yml and extract Team Lead channel and Discord ID.\nconst fs = require('fs');\nconst yaml = require('js-yaml');\nconst path = process.env.ROSTER_CONFIG_PATH || '/data/roster.yml';\nlet roster;\ntry {\n  roster = yaml.load(fs.readFileSync(path, 'utf8'));\n} catch (e) {\n  throw new Error('TL Listener: cannot load roster.yml: ' + e.message);\n}\nreturn [{\n  json: {\n    team_lead_channel_id: roster.team_lead_channel_id,\n    team_lead_discord_id: roster.team_lead.discord_id,\n    client_channel_id: roster.client_channel_id\n  }\n}];"
      },
      "id": "node-load-roster",
      "name": "Load Roster",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $json.team_lead_channel_id }}/messages?limit=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-fetch-channel-messages",
      "name": "Fetch Recent Channel Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value_json FROM project_memory WHERE key = 'team_lead_last_msg_id' LIMIT 1",
        "options": {}
      },
      "id": "node-get-last-msg-id",
      "name": "Get Last Processed Message ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        760,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres \u2014 Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter messages to unprocessed ones from the Team Lead only.\n// Cursor-based deduplication ensures each message is processed exactly once.\nconst messages = $node['Fetch Recent Channel Messages'].json;\nconst rosterData = $node['Load Roster'].json;\nconst teamLeadDiscordId = rosterData.team_lead_discord_id;\nconst lastMsgResult = $input.first().json;\nconst lastMsgId = lastMsgResult && lastMsgResult.value_json ? (typeof lastMsgResult.value_json === 'string' ? lastMsgResult.value_json : lastMsgResult.value_json) : null;\n\nif (!Array.isArray(messages) || messages.length === 0) {\n  return [];\n}\n\n// Filter to TL messages newer than last processed\nconst filtered = messages.filter(m => {\n  if (m.author && m.author.id === teamLeadDiscordId) {\n    if (!lastMsgId) return true; // No cursor yet \u2014 seed with current, process nothing\n    return m.id > lastMsgId;\n  }\n  return false;\n});\n\n// Compute new highest ID from all messages (not just TL's)\nconst allIds = messages.map(m => m.id);\nconst newHighestId = allIds.reduce((a, b) => (a > b ? a : b), allIds[0]);\n\nif (!lastMsgId) {\n  // First run: seed cursor and stop\n  return [{ json: { seed_only: true, new_highest_id: newHighestId, filtered: [] } }];\n}\n\nif (filtered.length === 0) {\n  return [];\n}\n\nconst highestFiltered = filtered.map(m => m.id).reduce((a, b) => (a > b ? a : b), filtered[0].id);\nreturn filtered.map(m => ({\n  json: {\n    message_id: m.id,\n    content: m.content,\n    author_id: m.author.id,\n    team_lead_channel_id: rosterData.team_lead_channel_id,\n    team_lead_discord_id: teamLeadDiscordId,\n    client_channel_id: rosterData.client_channel_id,\n    new_highest_id: newHighestId\n  }\n}));"
      },
      "id": "node-filter-unprocessed-messages",
      "name": "Filter Unprocessed Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO project_memory (key, value_json) VALUES ('team_lead_last_msg_id', $1::jsonb) ON CONFLICT (key) DO UPDATE SET value_json = EXCLUDED.value_json, updated_at = now()",
        "additionalFields": {
          "queryBatching": "independently",
          "queryReplacement": "={{ JSON.stringify($json.new_highest_id || $json.new_highest_id) }}"
        },
        "options": {}
      },
      "id": "node-persist-cursor",
      "name": "Persist Last Seen Message ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres \u2014 Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-seed-only",
              "leftValue": "={{ $json.seed_only }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-seed-only",
      "name": "Is Seed-Only Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1420,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Classify each message into a command branch.\nconst content = ($json.content || '').trim();\nconst lower = content.toLowerCase();\nlet command;\nif (lower.startsWith('!report')) {\n  command = 'report';\n} else if (lower.startsWith('!approve ')) {\n  command = 'approve';\n} else if (lower.startsWith('!reject ')) {\n  command = 'reject';\n} else if (lower.startsWith('!edit ')) {\n  command = 'edit';\n} else if (lower.startsWith('!help')) {\n  command = 'help';\n} else if (lower.startsWith('!explain')) {\n  command = 'explain';\n} else if (lower.startsWith('!welcome')) {\n  command = 'welcome';\n} else {\n  command = 'unrecognized';\n}\nreturn [{ json: { ...$json, command } }];"
      },
      "id": "node-classify-command",
      "name": "Classify Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-report",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-approve",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-reject",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-edit",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "edit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-help",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-explain",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "explain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "explain"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "sw-welcome",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "welcome",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "welcome"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "node-route-command",
      "name": "Route by Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1860,
        500
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "value": "WORKFLOW_04A_ID"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "node-branch-a-trigger-report",
      "name": "Branch A \u2014 Trigger Report Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2080,
        200
      ],
      "notes": "Calls Workflow 04a. Set WORKFLOW_04A_ID to the actual n8n workflow ID of 04a-client-report-draft after import."
    },
    {
      "parameters": {
        "jsCode": "// Branch B: Parse draft ID from '!approve <draft_id>'\nconst content = ($json.content || '').trim();\nconst parts = content.split(/\\s+/);\nconst draftId = parts[1] || '';\n// Basic UUID validation\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(draftId)) {\n  throw new Error(`Invalid draft ID format: '${draftId}'. Expected a UUID.`);\n}\nreturn [{ json: { ...$json, draft_id: draftId } }];"
      },
      "id": "node-branch-b-parse-approve",
      "name": "Branch B \u2014 Parse Draft ID (Approve)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// Branch C: Parse draft ID from '!reject <draft_id>'\nconst content = ($json.content || '').trim();\nconst parts = content.split(/\\s+/);\nconst draftId = parts[1] || '';\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(draftId)) {\n  throw new Error(`Invalid draft ID format: '${draftId}'. Expected a UUID.`);\n}\nreturn [{ json: { ...$json, draft_id: draftId } }];"
      },
      "id": "node-branch-c-parse-reject",
      "name": "Branch C \u2014 Parse Draft ID (Reject)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Branch D: Parse draft ID and revised text from '!edit <draft_id> <text>'\nconst content = ($json.content || '').trim();\nconst spaceAfterEdit = content.indexOf(' ');\nif (spaceAfterEdit === -1) throw new Error('!edit requires: !edit <draft_id> <revised_text>');\nconst remainder = content.slice(spaceAfterEdit + 1).trim();\nconst secondSpace = remainder.indexOf(' ');\nif (secondSpace === -1) throw new Error('!edit requires both a draft_id and revised text.');\nconst draftId = remainder.slice(0, secondSpace).trim();\nconst revisedText = remainder.slice(secondSpace + 1).trim();\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(draftId)) {\n  throw new Error(`Invalid draft ID format: '${draftId}'. Expected a UUID.`);\n}\nif (!revisedText) {\n  throw new Error('Revised text cannot be empty.');\n}\nreturn [{ json: { ...$json, draft_id: draftId, revised_text: revisedText } }];"
      },
      "id": "node-branch-d-parse-edit",
      "name": "Branch D \u2014 Parse Draft ID and Text (Edit)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        620
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, type, content_json, status, approver_discord_id, expires_at FROM drafts WHERE id = $1",
        "additionalFields": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.draft_id }}"
        },
        "options": {}
      },
      "id": "node-fetch-draft-approve",
      "name": "Fetch Draft (Approve)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2300,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres \u2014 Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, type, content_json, status, approver_discord_id, expires_at FROM drafts WHERE id = $1",
        "additionalFields": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.draft_id }}"
        },
        "options": {}
      },
      "id": "node-fetch-draft-reject",
      "name": "Fetch Draft (Reject)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2300,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres \u2014 Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, type, content_json, status, approver_discord_id, expires_at FROM drafts WHERE id = $1",
        "additionalFields": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.draft_id }}"
        },
        "options": {}
      },
      "id": "node-fetch-draft-edit",
      "name": "Fetch Draft (Edit)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2300,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres \u2014 Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate: status=pending, correct approver, not expired.\n// Merge upstream context from the parse node.\nconst draft = $input.first().json;\nconst teamLeadDiscordId = $node['Load Roster'].json.team_lead_discord_id;\nconst tlChannelId = $node['Load Roster'].json.team_lead_channel_id;\nconst draftId = $node['Branch B \u2014 Parse Draft ID (Approve)'].json.draft_id;\n\nif (!draft || !draft.id) {\n  throw new Error(`Draft ${draftId} not found.`);\n}\nif (draft.status !== 'pending') {\n  throw new Error(`Draft ${draftId} is not pending (current status: ${draft.status}). No action taken.`);\n}\nif (draft.approver_discord_id !== teamLeadDiscordId) {\n  throw new Error(`Draft ${draftId} is not assigned to you for approval.`);\n}\nif (new Date(draft.expires_at) < new Date()) {\n  throw new Error(`Draft ${draftId} has already expired.`);\n}\nreturn [{ json: { ...draft, team_lead_channel_id: tlChannelId, draft_id: draftId } }];"
      },
      "id": "node-validate-draft-approve",
      "name": "Validate Draft (Approve)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate for rejection\nconst draft = $input.first().json;\nconst teamLeadDiscordId = $node['Load Roster'].json.team_lead_discord_id;\nconst tlChannelId = $node['Load Roster'].json.team_lead_channel_id;\nconst draftId = $node['Branch C \u2014 Parse Draft ID (Reject)'].json.draft_id;\n\nif (!draft || !draft.id) {\n  throw new Error(`Draft ${draftId} not found.`);\n}\nif (draft.status !== 'pending') {\n  throw new Error(`Draft ${draftId} is not pending (current status: ${draft.status}).`);\n}\nif (draft.approver_discord_id !== teamLeadDiscordId) {\n  throw new Error(`Draft ${draftId} is not assigned to you for approval.`);\n}\nif (new Date(draft.expires_at) < new Date()) {\n  throw new Error(`Draft ${draftId} has already expired.`);\n}\nreturn [{ json: { ...draft, team_lead_channel_id: tlChannelId, draft_id: draftId } }];"
      },
      "id": "node-validate-draft-reject",
      "name": "Validate Draft (Reject)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate for edit+approve\nconst draft = $input.first().json;\nconst teamLeadDiscordId = $node['Load Roster'].json.team_lead_discord_id;\nconst tlChannelId = $node['Load Roster'].json.team_lead_channel_id;\nconst parseNode = $node['Branch D \u2014 Parse Draft ID and Text (Edit)'].json;\nconst draftId = parseNode.draft_id;\nconst revisedText = parseNode.revised_text;\n\nif (!draft || !draft.id) {\n  throw new Error(`Draft ${draftId} not found.`);\n}\nif (draft.status !== 'pending') {\n  throw new Error(`Draft ${draftId} is not pending (current status: ${draft.status}).`);\n}\nif (draft.approver_discord_id !== teamLeadDiscordId) {\n  throw new Error(`Draft ${draftId} is not assigned to you for approval.`);\n}\nif (new Date(draft.expires_at) < new Date()) {\n  throw new Error(`Draft ${draftId} has already expired.`);\n}\nreturn [{ json: { ...draft, team_lead_channel_id: tlChannelId, draft_id: draftId, revised_text: revisedText } }];"
      },
      "id": "node-validate-draft-edit",
      "name": "Validate Draft (Edit)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        620
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE drafts SET status = 'approved' WHERE id = $1 AND status = 'pending' RETURNING id, type, content_json",
        "additionalFields": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.draft_id }}"
        },
        "options": {}
      },
      "id": "node-mark-approved",
      "name": "Mark Approved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2740,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres \u2014 Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE drafts SET status = 'rejected' WHERE id = $1 AND status = 'pending' RETURNING id",
        "additionalFields": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.draft_id }}"
        },
        "options": {}
      },
      "id": "node-mark-rejected",
      "name": "Mark Rejected",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2740,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres \u2014 Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE drafts SET content_json = jsonb_set(content_json, '{text}', $2::jsonb), status = 'approved' WHERE id = $1 AND status = 'pending' RETURNING id, type, content_json",
        "additionalFields": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.draft_id }},={{ JSON.stringify($json.revised_text) }}"
        },
        "options": {}
      },
      "id": "node-update-draft-content",
      "name": "Update Draft Content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2740,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres \u2014 Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Dispatch delivery based on draft type.\n// Reads content_json.text and content_json.metadata from the updated draft.\nconst draft = $input.first().json;\nif (!draft || !draft.id) {\n  const tlChannelId = $node['Validate Draft (Approve)'].json.team_lead_channel_id;\n  // 0 rows updated means already processed\n  return [{ json: { skip: true, message: 'Draft already processed \u2014 no action taken.', team_lead_channel_id: tlChannelId } }];\n}\nconst contentJson = typeof draft.content_json === 'string' ? JSON.parse(draft.content_json) : draft.content_json;\nreturn [{ json: {\n  draft_id: draft.id,\n  type: draft.type,\n  content_text: contentJson.text,\n  metadata: contentJson.metadata || {},\n  team_lead_channel_id: $node['Validate Draft (Approve)'].json.team_lead_channel_id\n}}];"
      },
      "id": "node-prepare-delivery-approve",
      "name": "Prepare Delivery (Approve)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare delivery after edit+approve\nconst draft = $input.first().json;\nif (!draft || !draft.id) {\n  const tlChannelId = $node['Validate Draft (Edit)'].json.team_lead_channel_id;\n  return [{ json: { skip: true, message: 'Draft already processed \u2014 no action taken.', team_lead_channel_id: tlChannelId } }];\n}\nconst contentJson = typeof draft.content_json === 'string' ? JSON.parse(draft.content_json) : draft.content_json;\nreturn [{ json: {\n  draft_id: draft.id,\n  type: draft.type,\n  content_text: contentJson.text,\n  metadata: contentJson.metadata || {},\n  team_lead_channel_id: $node['Validate Draft (Edit)'].json.team_lead_channel_id\n}}];"
      },
      "id": "node-prepare-delivery-edit",
      "name": "Prepare Delivery (Edit)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        620
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "del-report",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "client_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "client_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "del-qa",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "qa_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qa_reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "del-welcome",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "client_welcome",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "client_welcome"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "node-dispatch-delivery-approve",
      "name": "Dispatch Delivery (Approve)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3180,
        340
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "del-report-e",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "client_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "client_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "del-qa-e",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "qa_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qa_reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "del-welcome-e",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "client_welcome",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "client_welcome"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "node-dispatch-delivery-edit",
      "name": "Dispatch Delivery (Edit)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3180,
        620
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "value": "WORKFLOW_04B_ID"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "node-deliver-report-approve",
      "name": "Deliver Report (Approve path)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3400,
        260
      ],
      "notes": "Replace WORKFLOW_04B_ID with the actual n8n ID of workflow 04b after import."
    },
    {
      "parameters": {
        "workflowId": {
          "value": "WORKFLOW_05C_ID"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "node-deliver-qa-approve",
      "name": "Deliver Q&A Reply (Approve path)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3400,
        340
      ],
      "notes": "Replace WORKFLOW_05C_ID with the actual n8n ID of workflow 05c after import."
    },
    {
      "parameters": {
        "workflowId": {
          "value": "WORKFLOW_06B_ID"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "node-deliver-welcome-approve",
      "name": "Deliver Welcome (Approve path)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3400,
        420
      ],
      "notes": "Replace WORKFLOW_06B_ID with the actual n8n ID of workflow 06b after import."
    },
    {
      "parameters": {
        "workflowId": {
          "value": "WORKFLOW_04B_ID"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "node-deliver-report-edit",
      "name": "Deliver Report (Edit path)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3400,
        560
      ],
      "notes": "Replace WORKFLOW_04B_ID with the actual n8n ID of workflow 04b after import."
    },
    {
      "parameters": {
        "workflowId": {
          "value": "WORKFLOW_05C_ID"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "node-deliver-qa-edit",
      "name": "Deliver Q&A Reply (Edit path)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3400,
        640
      ],
      "notes": "Replace WORKFLOW_05C_ID with the actual n8n ID of workflow 05c after import."
    },
    {
      "parameters": {
        "workflowId": {
          "value": "WORKFLOW_06B_ID"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "node-deliver-welcome-edit",
      "name": "Deliver Welcome (Edit path)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3400,
        720
      ],
      "notes": "Replace WORKFLOW_06B_ID with the actual n8n ID of workflow 06b after import."
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $node['Validate Draft (Reject)'].json.team_lead_channel_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "=Draft `{{ $node['Validate Draft (Reject)'].json.draft_id }}` rejected. Nothing has been sent. You can re-trigger a new draft at any time."
        },
        "options": {}
      },
      "id": "node-post-rejection-confirmation",
      "name": "Post Rejection Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        480
      ]
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $node['Load Roster'].json.team_lead_channel_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "Available commands:\n`!report` \u2014 Draft a new client progress report\n`!approve <draft_id>` \u2014 Approve and deliver a pending draft\n`!reject <draft_id>` \u2014 Reject a pending draft (nothing is sent)\n`!edit <draft_id> <revised text>` \u2014 Replace draft text and approve for delivery\n`!welcome` \u2014 Manually trigger client welcome draft\n`!help` \u2014 Show this message\n`!explain <action_id>` \u2014 Explain what the agent did and why"
        },
        "options": {}
      },
      "id": "node-branch-e-post-help",
      "name": "Branch E \u2014 Post Help Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        760
      ]
    },
    {
      "parameters": {
        "jsCode": "// Branch F: Extract subject from '!explain <subject>'\nconst content = ($json.content || '').trim();\nconst subject = content.replace(/^!explain\\s*/i, '').trim();\nreturn [{ json: { ...$json, explain_subject: subject } }];"
      },
      "id": "node-branch-f-parse-explain",
      "name": "Branch F \u2014 Parse Explain Subject",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        900
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, value_json FROM project_memory WHERE key LIKE 'action_log_%'",
        "options": {}
      },
      "id": "node-branch-f-fetch-logs",
      "name": "Branch F \u2014 Fetch Action Logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2300,
        900
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres \u2014 Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter logs matching the explain subject. Compose explanation without individual-level data (SC-13).\nconst subject = $node['Branch F \u2014 Parse Explain Subject'].json.explain_subject.toLowerCase();\nconst logs = $input.all();\nconst tlChannelId = $node['Load Roster'].json.team_lead_channel_id;\nconst matching = logs.filter(item => {\n  const key = (item.json.key || '').toLowerCase();\n  const val = JSON.stringify(item.json.value_json || '').toLowerCase();\n  return key.includes(subject) || val.includes(subject);\n});\nlet explanation;\nif (matching.length === 0) {\n  explanation = `No recent action found matching '${subject}'. The agent has not logged an action with that description.`;\n} else {\n  const lines = matching.map(item => {\n    const v = typeof item.json.value_json === 'string' ? JSON.parse(item.json.value_json) : item.json.value_json;\n    return `- Action: ${v.action || 'unknown'} | Draft ID: ${v.draft_id || 'n/a'} | Trigger: ${v.trigger || 'n/a'} | At: ${v.timestamp || 'n/a'}`;\n  });\n  explanation = `Here are the recent matching actions I took:\\n${lines.join('\\n')}\\n\\nI used feature-level signals from GitHub and Jira (no individual attribution) and the project memory. No individual developer data is included in this log. (SC-13)`;\n}\nreturn [{ json: { explanation, team_lead_channel_id: tlChannelId } }];"
      },
      "id": "node-branch-f-compose-explanation",
      "name": "Branch F \u2014 Compose Explanation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        900
      ]
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $json.team_lead_channel_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "={{ $json.explanation }}"
        },
        "options": {}
      },
      "id": "node-branch-f-post-explanation",
      "name": "Branch F \u2014 Post Explanation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        900
      ]
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $node['Load Roster'].json.team_lead_channel_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "Unrecognized command. Type `!help` to see available commands. No action has been taken. (F-16.3)"
        },
        "options": {}
      },
      "id": "node-branch-g-unrecognized",
      "name": "Branch G \u2014 Post Unrecognized Notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM drafts WHERE type = 'client_welcome' AND status IN ('approved', 'executed', 'pending') LIMIT 1",
        "options": {}
      },
      "id": "node-branch-h-idempotency-check",
      "name": "Branch H \u2014 Welcome Idempotency Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2080,
        1180
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres \u2014 Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-welcome-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-branch-h-welcome-exists",
      "name": "Branch H \u2014 Welcome Already Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2300,
        1180
      ]
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $node['Load Roster'].json.team_lead_channel_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "A client welcome message has already been sent or is pending approval. No duplicate will be created. (F-15.3)"
        },
        "options": {}
      },
      "id": "node-branch-h-already-sent-notice",
      "name": "Branch H \u2014 Welcome Already Sent Notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        1120
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "value": "WORKFLOW_06_ID"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "node-branch-h-trigger-welcome",
      "name": "Branch H \u2014 Trigger Welcome Draft",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2520,
        1240
      ],
      "notes": "Replace WORKFLOW_06_ID with the actual n8n ID of workflow 06 after import."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-already-processed",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-skip-if-already-processed",
      "name": "Skip If Already Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3070,
        340
      ],
      "notes": "FIX 4: Halt if Prepare Delivery marked skip=true (draft already processed). Only false output proceeds to Dispatch Delivery."
    }
  ],
  "connections": {
    "Cron Trigger \u2014 Every Minute": {
      "main": [
        [
          {
            "node": "Load Roster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Roster": {
      "main": [
        [
          {
            "node": "Fetch Recent Channel Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Channel Messages": {
      "main": [
        [
          {
            "node": "Get Last Processed Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Processed Message ID": {
      "main": [
        [
          {
            "node": "Filter Unprocessed Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unprocessed Messages": {
      "main": [
        [
          {
            "node": "Persist Last Seen Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Last Seen Message ID": {
      "main": [
        [
          {
            "node": "Is Seed-Only Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Seed-Only Run?": {
      "main": [
        [],
        [
          {
            "node": "Classify Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Command": {
      "main": [
        [
          {
            "node": "Route by Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Command": {
      "main": [
        [
          {
            "node": "Branch A \u2014 Trigger Report Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Branch B \u2014 Parse Draft ID (Approve)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Branch C \u2014 Parse Draft ID (Reject)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Branch D \u2014 Parse Draft ID and Text (Edit)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Branch E \u2014 Post Help Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Branch F \u2014 Parse Explain Subject",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Branch H \u2014 Welcome Idempotency Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Branch G \u2014 Post Unrecognized Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch B \u2014 Parse Draft ID (Approve)": {
      "main": [
        [
          {
            "node": "Fetch Draft (Approve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch C \u2014 Parse Draft ID (Reject)": {
      "main": [
        [
          {
            "node": "Fetch Draft (Reject)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch D \u2014 Parse Draft ID and Text (Edit)": {
      "main": [
        [
          {
            "node": "Fetch Draft (Edit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Draft (Approve)": {
      "main": [
        [
          {
            "node": "Validate Draft (Approve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Draft (Reject)": {
      "main": [
        [
          {
            "node": "Validate Draft (Reject)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Draft (Edit)": {
      "main": [
        [
          {
            "node": "Validate Draft (Edit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Draft (Approve)": {
      "main": [
        [
          {
            "node": "Mark Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Draft (Reject)": {
      "main": [
        [
          {
            "node": "Mark Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Draft (Edit)": {
      "main": [
        [
          {
            "node": "Update Draft Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Approved": {
      "main": [
        [
          {
            "node": "Prepare Delivery (Approve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Rejected": {
      "main": [
        [
          {
            "node": "Post Rejection Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Draft Content": {
      "main": [
        [
          {
            "node": "Prepare Delivery (Edit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delivery (Approve)": {
      "main": [
        [
          {
            "node": "Skip If Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delivery (Edit)": {
      "main": [
        [
          {
            "node": "Dispatch Delivery (Edit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Delivery (Approve)": {
      "main": [
        [
          {
            "node": "Deliver Report (Approve path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deliver Q&A Reply (Approve path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deliver Welcome (Approve path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Delivery (Edit)": {
      "main": [
        [
          {
            "node": "Deliver Report (Edit path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deliver Q&A Reply (Edit path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deliver Welcome (Edit path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch F \u2014 Parse Explain Subject": {
      "main": [
        [
          {
            "node": "Branch F \u2014 Fetch Action Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch F \u2014 Fetch Action Logs": {
      "main": [
        [
          {
            "node": "Branch F \u2014 Compose Explanation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch F \u2014 Compose Explanation": {
      "main": [
        [
          {
            "node": "Branch F \u2014 Post Explanation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch H \u2014 Welcome Idempotency Check": {
      "main": [
        [
          {
            "node": "Branch H \u2014 Welcome Already Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch H \u2014 Welcome Already Sent?": {
      "main": [
        [
          {
            "node": "Branch H \u2014 Welcome Already Sent Notice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Branch H \u2014 Trigger Welcome Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If Already Processed": {
      "main": [
        [],
        [
          {
            "node": "Dispatch Delivery (Approve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}