workflows/06-client-welcome.json
{
  "name": "06 — F-15: Client Welcome Message",
  "nodes": [
    {
      "id": "discord-trigger",
      "name": "Discord Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "member-join",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567803"
    },
    {
      "id": "filter-join-event",
      "name": "Filter Join Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst event = raw.body ?? raw;\nconst d = event.d ?? event;\n\nif (event.t !== 'GUILD_MEMBER_ADD') return [];\n\nconst userId = String(d.user?.id || d.id || '').trim();\nif (!userId || !/^\\d{17,19}$/.test(userId)) return [];\n\nreturn [{ json: { user_id: userId } }];"
      }
    },
    {
      "id": "if-skip",
      "name": "Skip?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif ((j.skip) === true) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "skip-not-join",
      "name": "Skip — Not Join Event",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        750,
        100
      ],
      "parameters": {}
    },
    {
      "id": "fetch-client-identity",
      "name": "Fetch Client Identity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        450
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT discord_id FROM pipemind.roster WHERE active = true AND role = 'client';"
      }
    },
    {
      "id": "verify-client-join",
      "name": "Verify Client Join",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        450
      ],
      "parameters": {
        "jsCode": "const userId = String($('Filter Join Event').item.json.user_id || '');\nconst rows = $input.all();\nif (!rows.length) {\n  return [{ json: { isClient: false, user_id: userId } }];\n}\n// H-02: trim roster IDs to handle whitespace in stored values\nconst clientIds = rows.map(r => String(r.json.discord_id || '').trim()).filter(Boolean);\nreturn [{ json: { isClient: clientIds.includes(userId), user_id: userId } }];"
      }
    },
    {
      "id": "if-client-join",
      "name": "Client Join?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        450
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif (!((j.isClient) === true)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "skip-not-client",
      "name": "Skip — Not Client",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        200
      ],
      "parameters": {}
    },
    {
      "id": "claim-welcome-slot",
      "name": "Claim Welcome Slot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.client_welcomed (client_discord_id)\nVALUES ($1)\nON CONFLICT (client_discord_id) DO NOTHING\nRETURNING client_discord_id;",
        "options": {
          "queryReplacement": "={{ [ $('Verify Client Join').item.json.user_id ] }}"
        }
      }
    },
    {
      "id": "if-slot-claimed",
      "name": "Slot Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1750,
        600
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "skip-already-welcomed",
      "name": "Skip — Already Welcomed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2000,
        400
      ],
      "parameters": {}
    },
    {
      "id": "fetch-team-lead",
      "name": "Fetch Team Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        750
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT discord_id FROM pipemind.roster WHERE active = true AND role = 'team_lead' ORDER BY name ASC LIMIT 1;"
      }
    },
    {
      "id": "prepare-f03-input",
      "name": "Prepare F-03 Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        750
      ],
      "parameters": {
        "jsCode": "const clientDiscordId = $('Verify Client Join').item.json.user_id;\nconst tlRow = $input.first().json;\n\nif (!String($env.F03_WORKFLOW_ID || '').trim()) {\n  throw new Error('F-15: n8n variable F03_WORKFLOW_ID is not set. Set it in n8n Settings → Variables after importing workflows.');\n}\nif (!tlRow || !tlRow.discord_id) {\n  throw new Error('F-15: No active team_lead found in roster. Add a member with role=team_lead.');\n}\n// H-01: re-validate snowflake format as defense-in-depth\nif (!/^\\d{17,19}$/.test(String(clientDiscordId || ''))) {\n  throw new Error('F-15: client_discord_id is not a valid Discord snowflake.');\n}\n// M-03: fail clearly if delivery channel env vars are missing\nif (!String($env.TEAM_LEAD_APPROVAL_CHANNEL_ID || '').trim()) {\n  throw new Error('F-15: TEAM_LEAD_APPROVAL_CHANNEL_ID env var is not set.');\n}\nif (!String($env.CLIENT_CHANNEL_ID || '').trim()) {\n  throw new Error('F-15: CLIENT_CHANNEL_ID env var is not set.');\n}\n\nconst welcomeText = [\n  'Welcome to the project channel!',\n  '',\n  'You can ask questions about the project here at any time — simply type your question and the team will respond.',\n  '',\n  'Feel free to ask about feature progress, timelines, or anything project-related.'\n].join('\\n');\n\nreturn [{ json: {\n  feature_tag: 'F-15',\n  content_type: 'welcome',\n  draft_text: welcomeText,\n  approver_discord_id: String(tlRow.discord_id),\n  approval_channel_id: $env.TEAM_LEAD_APPROVAL_CHANNEL_ID,\n  context_json: {\n    client_channel_id: $env.CLIENT_CHANNEL_ID,\n    client_discord_id: clientDiscordId\n  }\n} }];"
      }
    },
    {
      "id": "call-f03",
      "name": "Call F-03 Approval Gate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2500,
        750
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "={{ $env.F03_WORKFLOW_ID }}",
          "mode": "id"
        },
        "waitForSubWorkflow": true,
        "options": {}
      }
    },
    {
      "id": "return-result",
      "name": "Return Draft Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2750,
        750
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "draft_id",
              "value": "={{ $json.draft_id }}"
            },
            {
              "name": "discord_message_id",
              "value": "={{ $json.discord_message_id }}"
            },
            {
              "name": "expires_at",
              "value": "={{ $json.expires_at }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Discord Events": {
      "main": [
        [
          {
            "node": "Filter Join Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Join Event": {
      "main": [
        [
          {
            "node": "Fetch Client Identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip?": {
      "main": [
        [
          {
            "node": "Fetch Client Identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Client Identity": {
      "main": [
        [
          {
            "node": "Verify Client Join",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Client Join": {
      "main": [
        [
          {
            "node": "Client Join?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Join?": {
      "main": [
        [
          {
            "node": "Claim Welcome Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Welcome Slot": {
      "main": [
        [
          {
            "node": "Slot Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slot Claimed?": {
      "main": [
        [
          {
            "node": "Fetch Team Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip — Already Welcomed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Team Lead": {
      "main": [
        [
          {
            "node": "Prepare F-03 Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare F-03 Input": {
      "main": [
        [
          {
            "node": "Call F-03 Approval Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call F-03 Approval Gate": {
      "main": [
        [
          {
            "node": "Return Draft Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "pipemind"
  },
  "tags": [
    {
      "name": "client-welcome"
    },
    {
      "name": "p0"
    },
    {
      "name": "f-15"
    }
  ],
  "id": "OpzazuXzPEcB5Go8"
}
