workflows/06b-client-welcome-deliver.json
{
  "name": "06b — Post Approved Welcome Message (F-15 Delivery)",
  "nodes": [
    {
      "parameters": {},
      "id": "node-execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [100, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status FROM drafts WHERE id = $1",
        "additionalFields": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.draft_id }}"
        },
        "options": {}
      },
      "id": "node-check-already-executed",
      "name": "Check Already Executed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [320, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres — Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-executed", "leftValue": "={{ $json.status }}", "rightValue": "executed", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-is-already-executed",
      "name": "Already Executed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 400]
    },
    {
      "parameters": {
        "jsCode": "// Load roster for notification channel\nconst fs = require('fs');\nconst yaml = require('js-yaml');\nconst path = process.env.ROSTER_CONFIG_PATH || '/data/roster.yml';\nconst roster = yaml.load(fs.readFileSync(path, 'utf8'));\nreturn [{ json: { team_lead_channel_id: roster.team_lead_channel_id } }];"
      },
      "id": "node-load-roster-for-notice",
      "name": "Load Roster for Notice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $json.team_lead_channel_id }}/messages",
        "sendHeaders": true,
        "headerParameters": [
          { "name": "Authorization", "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "=Welcome message (Draft ID: `{{ $node['Execute Workflow Trigger'].json.draft_id }}`) has already been posted. No duplicate action taken. (SC-21)"
        },
        "options": {}
      },
      "id": "node-post-already-delivered",
      "name": "Post Already Delivered Notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract reply_channel_id from metadata\nconst trigger = $json;\nconst metadata = trigger.metadata || {};\nreturn [{\n  json: {\n    draft_id: trigger.draft_id,\n    content_text: trigger.content_text,\n    reply_channel_id: metadata.reply_channel_id\n  }\n}];"
      },
      "id": "node-extract-metadata",
      "name": "Extract Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 500]
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $json.reply_channel_id }}/messages",
        "sendHeaders": true,
        "headerParameters": [
          { "name": "Authorization", "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "={{ $json.content_text }}"
        },
        "options": {}
      },
      "id": "node-post-welcome",
      "name": "Post Welcome to Client Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-post-failed", "leftValue": "={{ $json.error }}", "rightValue": "", "operator": { "type": "string", "operation": "exists" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-post-failed",
      "name": "Post Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 500]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst yaml = require('js-yaml');\nconst path = process.env.ROSTER_CONFIG_PATH || '/data/roster.yml';\nconst roster = yaml.load(fs.readFileSync(path, 'utf8'));\nreturn [{ json: { team_lead_channel_id: roster.team_lead_channel_id, draft_id: $node['Execute Workflow Trigger'].json.draft_id } }];"
      },
      "id": "node-error-setup",
      "name": "Error Setup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 400]
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $json.team_lead_channel_id }}/messages",
        "sendHeaders": true,
        "headerParameters": [
          { "name": "Authorization", "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "=Failed to post welcome message for Draft `{{ $json.draft_id }}`. Draft remains in `approved` state — retry when Discord is available."
        },
        "options": {}
      },
      "id": "node-post-failure-notice",
      "name": "Post Failure Notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE drafts SET status = 'executed' WHERE id = $1 AND status = 'approved'",
        "additionalFields": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $node['Execute Workflow Trigger'].json.draft_id }}"
        },
        "options": {}
      },
      "id": "node-mark-executed",
      "name": "Mark Draft Executed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1420, 600],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres — Coordination Agent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst yaml = require('js-yaml');\nconst path = process.env.ROSTER_CONFIG_PATH || '/data/roster.yml';\nconst roster = yaml.load(fs.readFileSync(path, 'utf8'));\nreturn [{ json: { team_lead_channel_id: roster.team_lead_channel_id, draft_id: $node['Execute Workflow Trigger'].json.draft_id } }];"
      },
      "id": "node-confirmation-setup",
      "name": "Confirmation Setup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 600]
    },
    {
      "parameters": {
        "url": "=https://discord.com/api/v10/channels/{{ $json.team_lead_channel_id }}/messages",
        "sendHeaders": true,
        "headerParameters": [
          { "name": "Authorization", "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "=Welcome message posted to client channel. (Draft ID: `{{ $json.draft_id }}`)"
        },
        "options": {}
      },
      "id": "node-post-confirmation",
      "name": "Post Confirmation to Approval Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 600]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Check Already Executed", "type": "main", "index": 0 }]]
    },
    "Check Already Executed": {
      "main": [[{ "node": "Already Executed?", "type": "main", "index": 0 }]]
    },
    "Already Executed?": {
      "main": [
        [{ "node": "Load Roster for Notice", "type": "main", "index": 0 }],
        [{ "node": "Extract Metadata", "type": "main", "index": 0 }]
      ]
    },
    "Load Roster for Notice": {
      "main": [[{ "node": "Post Already Delivered Notice", "type": "main", "index": 0 }]]
    },
    "Extract Metadata": {
      "main": [[{ "node": "Post Welcome to Client Channel", "type": "main", "index": 0 }]]
    },
    "Post Welcome to Client Channel": {
      "main": [[{ "node": "Post Failed?", "type": "main", "index": 0 }]]
    },
    "Post Failed?": {
      "main": [
        [{ "node": "Error Setup", "type": "main", "index": 0 }],
        [{ "node": "Mark Draft Executed", "type": "main", "index": 0 }]
      ]
    },
    "Error Setup": {
      "main": [[{ "node": "Post Failure Notice", "type": "main", "index": 0 }]]
    },
    "Mark Draft Executed": {
      "main": [[{ "node": "Confirmation Setup", "type": "main", "index": 0 }]]
    },
    "Confirmation Setup": {
      "main": [[{ "node": "Post Confirmation to Approval Channel", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
