workflows/12-unblock-assistance.json
{
  "name": "12 \u2014 F-06: Unblock Assistance",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 14,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Guard: Check Roster Valid",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM pipemind.system_state WHERE key = 'roster_valid';"
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "If Roster Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.value }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Error \u2014 Roster Not Valid",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        750,
        100
      ],
      "parameters": {
        "errorMessage": "F-06: Roster is not valid (SC-19). Run Workflow 00 (Startup / Config Validation) first."
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Fetch Blocker Candidates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.discord_id, r.clockify_user_id, r.calendar_email, COALESCE(sr.feature_area, 'General') AS feature_area, CASE WHEN sr.has_blocker = TRUE THEN 'standup' ELSE 'project_signal' END AS blocker_source FROM pipemind.roster r INNER JOIN pipemind.standup_records sr ON sr.discord_id = r.discord_id AND sr.standup_date = CURRENT_DATE AND sr.has_blocker = TRUE WHERE r.active = TRUE AND r.role = 'developer' AND r.muted = FALSE AND NOT EXISTS ( SELECT 1 FROM pipemind.unblock_offers uo WHERE uo.discord_id = r.discord_id AND uo.offer_date = CURRENT_DATE AND uo.status NOT IN ('ignored') ) ORDER BY r.discord_id;"
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Aggregate Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\nif (rows.length === 0) {\n  return [{ json: { candidates: [] } }];\n}\nconst candidates = rows.map(r => ({\n  discord_id:        r.json.discord_id,\n  clockify_user_id:  r.json.clockify_user_id  || null,\n  calendar_email:    r.json.calendar_email    || null,\n  feature_area:      r.json.feature_area      || 'General',\n  blocker_source:    r.json.blocker_source    || 'standup'\n}));\nreturn [{ json: { candidates } }];"
      }
    },
    {
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "If Any Candidates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.candidates.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Check Clockify Time Off",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ `https://api.clockify.me/api/v1/workspaces/${$env.CLOCKIFY_WORKSPACE_ID}/time-off/requests` }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{ new Date().toISOString().slice(0, 10) + 'T00:00:00Z' }}"
            },
            {
              "name": "end",
              "value": "={{ new Date().toISOString().slice(0, 10) + 'T23:59:59Z' }}"
            },
            {
              "name": "status",
              "value": "APPROVED"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $env.CLOCKIFY_API_KEY }}"
            }
          ]
        }
      }
    },
    {
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Strip Clockify Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ],
      "parameters": {
        "jsCode": "// H-02: reduce Clockify response to userId-only before n8n logs the payload.\n// Discards all other fields (name, email, dates) that could expose non-roster workspace members.\nconst raw = $json;\nconst ids = [];\nlet ok = false;\ntry {\n  if (Array.isArray(raw)) {\n    ok = true;\n    for (const r of raw) {\n      if (r.userId) ids.push(String(r.userId));\n    }\n  }\n} catch (_) {}\nreturn [{ json: { clockify_ok: ok, clockify_off_ids: ids } }];"
      }
    },
    {
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "Check Google Calendar OOO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pipemindGoogleCalendar",
          "name": "Pipemind Google Calendar"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/freeBusy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ timeMin: new Date().toISOString().slice(0, 10) + 'T00:00:00Z', timeMax: new Date().toISOString().slice(0, 10) + 'T23:59:59Z', items: $('Aggregate Candidates').first().json.candidates.filter(c => c.calendar_email).slice(0, 50).map(c => ({ id: c.calendar_email })) }) }}",
        "rawContentType": "application/json",
        "headerParameters": {
          "parameters": []
        }
      }
    },
    {
      "id": "e1f2a3b4-c5d6-7890-efab-901234567890",
      "name": "Compute Scheduled Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const candidates = $('Aggregate Candidates').first().json.candidates;\n\n// Clockify primary source (pre-stripped to userId-only by Strip Clockify Fields)\nconst clockifyData = $('Strip Clockify Fields').first().json;\nconst clockifyOk = clockifyData.clockify_ok;\nconst clockifyUnavailable = new Set(clockifyData.clockify_off_ids);\n\n// Google Calendar secondary source (OOO = busy 6+ hours)\n// SC-06a: stricter source wins \u2014 if Calendar marks OOO, treat as not scheduled\nconst calRaw = $('Check Google Calendar OOO').first()?.json;\nconst calUnavailableEmails = new Set();\nlet calOk = false;\ntry {\n  if (calRaw && typeof calRaw.calendars === 'object') {\n    calOk = true;\n    for (const [email, data] of Object.entries(calRaw.calendars)) {\n      if (Array.isArray(data.busy)) {\n        const isOOO = data.busy.some(p => {\n          const hours = (new Date(p.end) - new Date(p.start)) / 3_600_000;\n          return hours >= 6;\n        });\n        if (isOOO) calUnavailableEmails.add(email.toLowerCase());\n      }\n    }\n  }\n} catch (_) {}\n\n// SC-18: both sources unavailable \u2192 fail-safe, no contacts, TL alert\nif (!clockifyOk && !calOk) {\n  return [{ json: { candidates: [], sc18_failsafe: true } }];\n}\n\n// Apply SC-06 / SC-06a: if either available source marks person as unavailable, exclude them\n// H-01: drop clockify_user_id and calendar_email from this point forward (only discord_id + feature_area)\nconst scheduled = [];\nfor (const c of candidates) {\n  let available = true;\n  if (clockifyOk && c.clockify_user_id) {\n    if (clockifyUnavailable.has(String(c.clockify_user_id))) available = false;\n  }\n  if (calOk && c.calendar_email) {\n    if (calUnavailableEmails.has(c.calendar_email.toLowerCase())) available = false;\n  }\n  if (!available) continue;\n  scheduled.push({ discord_id: c.discord_id, feature_area: c.feature_area, blocker_source: c.blocker_source });\n}\n\nreturn [{ json: { candidates: scheduled, sc18_failsafe: false } }];"
      }
    },
    {
      "id": "f2a3b4c5-d6e7-8901-fabc-012345678901",
      "name": "If SC-18 Failsafe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2500,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ String($json.sc18_failsafe) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a3b4c5d6-e7f8-9012-abcd-123456789012",
      "name": "Notify TL: SC-18 Failsafe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2750,
        100
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$env.TL_CHANNEL_ID}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: '[Pipemind] Unblock assistance skipped today: both Clockify and Google Calendar were unavailable. No developers were contacted (SC-18 fail-safe).' }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "b4c5d6e7-f8a9-0123-bcde-234567890123",
      "name": "If Anyone To Contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2750,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.candidates.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "c5d6e7f8-a9b0-1234-cdef-345678901234",
      "name": "Sweep Expired Offers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3000,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers SET status = 'ignored', updated_at = now() WHERE status = 'pending' AND offer_date < CURRENT_DATE RETURNING offer_id;"
      }
    },
    {
      "id": "d6e7f8a9-b0c1-2345-defa-456789012345",
      "name": "Split Into Offer Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// H-01: only discord_id and feature_area forwarded; blocker_source carried for DB insert\nconst { candidates } = $input.first().json;\nreturn candidates.map(c => ({ json: { discord_id: c.discord_id, feature_area: c.feature_area, blocker_source: c.blocker_source } }));"
      }
    },
    {
      "id": "e7f8a9b0-c1d2-3456-efab-567890123456",
      "name": "Open DM Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3250,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/v10/users/@me/channels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ recipient_id: $json.discord_id }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "f8a9b0c1-d2e3-4567-fabc-678901234567",
      "name": "Insert Unblock Offer Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.unblock_offers (discord_id, offer_date, feature_area, blocker_source, status, dm_channel_id, offer_count) VALUES ($1, CURRENT_DATE, $2, $3, 'pending', $4, 1) ON CONFLICT (discord_id, offer_date, feature_area) DO NOTHING RETURNING offer_id, dm_channel_id;",
        "options": {
          "queryReplacement": "={{ [ $('Split Into Offer Items').item.json.discord_id, $('Split Into Offer Items').item.json.feature_area, $('Split Into Offer Items').item.json.blocker_source, $('Open DM Channel').item.json.id || null ] }}"
        }
      }
    },
    {
      "id": "a9b0c1d2-e3f4-5678-abcd-789012345678",
      "name": "If Offer Row Created?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3750,
        300
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif (!((j.offer_id !== undefined && j.offer_id !== null) === true)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "b0c1d2e3-f4a5-6789-bcde-890123456789",
      "name": "Send Offer DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://discord.com/api/v10/channels/${$json.dm_channel_id}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bot ' + $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ content: '[Pipemind] It looks like you may be running into a blocker on ' + $('Split Into Offer Items').item.json.feature_area + '. No pressure at all \u2014 just checking in to see if there is anything I can help with. Would you like some assistance?\\n\\nReply:\\n\u2022 yes \u2014 I want help\\n\u2022 no \u2014 I am fine, thanks' }) }}",
        "rawContentType": "application/json"
      }
    },
    {
      "id": "c1d2e3f4-a5b6-7890-cdef-901234567890",
      "name": "Merge DM Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4250,
        300
      ],
      "parameters": {
        "jsCode": "// Forward discord_id alongside DM send result so If DM Sent? and downstream nodes\n// can read from $json rather than a distant item-paired node reference.\nconst discordId = $('Split Into Offer Items').item.json.discord_id;\nconst messageId = $json.id || null;\nreturn [{ json: { discord_id: discordId, message_id: messageId, dm_sent: !!messageId } }];"
      }
    },
    {
      "id": "e3f4a5b6-c7d8-9012-efab-123456789012",
      "name": "Mark Offer DM Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4750,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipemind.unblock_offers SET status = 'dm_failed', updated_at = now() WHERE discord_id = $1 AND offer_date = CURRENT_DATE AND feature_area = $2;",
        "options": {
          "queryReplacement": "={{ [ $('Split Into Offer Items').item.json.discord_id, $('Split Into Offer Items').item.json.feature_area ] }}"
        }
      }
    },
    {
      "id": "f4a5b6c7-d8e9-0123-fabc-234567890123",
      "name": "Log Outreach",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4750,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "loY6OMgbNA9Cm4d8",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipemind.outreach_log (discord_id, outreach_type, outreach_date) VALUES ($1, 'unblock_offer', CURRENT_DATE) ON CONFLICT (discord_id, outreach_type, outreach_date) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [ $json.discord_id ] }}"
        }
      }
    },
    {
      "id": "d2e3f4a5-b6c7-8901-defa-012345678901-true",
      "name": "DM Sent? (yes)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4500,
        300
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif (!((j.dm_sent) === true)) return [];\nreturn $input.all();"
      }
    },
    {
      "id": "d2e3f4a5-b6c7-8901-defa-012345678901-false",
      "name": "DM Sent? (no)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4500,
        450
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nif ((j.dm_sent) === true) return [];\nreturn $input.all();"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Guard: Check Roster Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard: Check Roster Valid": {
      "main": [
        [
          {
            "node": "If Roster Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Roster Valid?": {
      "main": [
        [
          {
            "node": "Sweep Expired Offers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error \u2014 Roster Not Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sweep Expired Offers": {
      "main": [
        [
          {
            "node": "Fetch Blocker Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Blocker Candidates": {
      "main": [
        [
          {
            "node": "Aggregate Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Candidates": {
      "main": [
        [
          {
            "node": "If Any Candidates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Any Candidates?": {
      "main": [
        [
          {
            "node": "Check Clockify Time Off",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check Clockify Time Off": {
      "main": [
        [
          {
            "node": "Strip Clockify Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip Clockify Fields": {
      "main": [
        [
          {
            "node": "Check Google Calendar OOO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Google Calendar OOO": {
      "main": [
        [
          {
            "node": "Compute Scheduled Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Scheduled Candidates": {
      "main": [
        [
          {
            "node": "If SC-18 Failsafe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If SC-18 Failsafe?": {
      "main": [
        [
          {
            "node": "Notify TL: SC-18 Failsafe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Anyone To Contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Anyone To Contact?": {
      "main": [
        [
          {
            "node": "Split Into Offer Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Into Offer Items": {
      "main": [
        [
          {
            "node": "Open DM Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open DM Channel": {
      "main": [
        [
          {
            "node": "Insert Unblock Offer Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Unblock Offer Row": {
      "main": [
        [
          {
            "node": "If Offer Row Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Offer Row Created?": {
      "main": [
        [
          {
            "node": "Send Offer DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Offer DM": {
      "main": [
        [
          {
            "node": "Merge DM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge DM Result": {
      "main": [
        [
          {
            "node": "DM Sent? (yes)",
            "type": "main",
            "index": 0
          },
          {
            "node": "DM Sent? (no)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DM Sent? (yes)": {
      "main": [
        [
          {
            "node": "Log Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DM Sent? (no)": {
      "main": [
        [
          {
            "node": "Mark Offer DM Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "pipemind"
  },
  "tags": [
    {
      "name": "unblock-assistance"
    },
    {
      "name": "developer-dm"
    },
    {
      "name": "beyond-p1"
    }
  ],
  "id": "EAnAxsJ1p4gJJbX3"
}